/*----------------------------------

	Theme Name: Brazil
	----------------------
			
	/* #Blog Styles
	================================================== */
	
	.sidebar, .rgt-cntt { min-height:160px;}
	.sidebar { padding:30px 0 40px; }
	.sidebar.leftside { margin-left:0; margin-right:8.333333333333332%; padding-left:10px; }
	.sidebar h4.subtitle { border:none; color:#54606b; margin-bottom:14px; font-size:12px; letter-spacing:2px; }
	.sidebar p, .sidebar li { font-size:13px; line-height:21px; font-weight:400; letter-spacing:0.5px; color:#797979;}
	.sidebar input[type="text"].search-side { width:100%; padding-left:15px; font-size:12px; height:40px; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; }
	input[type="text"].search-side, input[type="text"].header-saerch { background:#fdfdfd url(../images/find-ico1.png) no-repeat right;}
	input[type="text"].header-saerch  { float:right; margin:10px 0 0 0; border-radius:2px; padding:5px 28px 5px 8px; width:120px; min-height:18px; -webkit-transition: width 0.22s ease; -moz-transition: width 0.22s ease; -o-transition: width 0.22s ease; transition: width 0.22s ease;}
	input[type="text"].header-saerch:focus { width:160px;}
	
	#main-content-pin, #main-timeline { max-width:100%; background:#f6f6f6; padding-top:30px;}
	#main-timeline { background:#fbfbfb; }
	#pin-content, #tline-content { width:auto; margin:0 auto; position:relative; overflow: hidden; }
	#tline-content { background:url(../images/tline-cnt-bg1.png) repeat-y center center; width:890px; margin:0 auto; }
	#tline-content p { margin-bottom:26px; font-size:13px; color:#747a80; font-weight:normal; line-height:1.9; padding:12px;}
	
	.pin-box, .tline-box { width:212px; width:210px\9; padding:12px; display:block; background:#fff; margin:10px; float:left; border:1px solid #efefef\9; box-shadow:0 1px 3px rgba(0,0,0,0.33); -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.23);}
	.pin-box { border-radius:1px; box-shadow:none; -webkit-box-shadow:none; overflow:hidden; border:1px solid #e9e9e9; padding:24px; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}
	.pin-box  .img-item, .pin-box  iframe {margin:-24px; margin-bottom:0; }
	.img-item img { margin-bottom:-6px;}
	.tline-box  iframe, .tline-box  img { width:100%; max-width:100%; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; border-bottom:2px solid #e5e5e5;}
	.tline-box  iframe { height:302px;}
	.pin-box h4, .tline-box h4 { font-size:19px; font-weight:600; margin-top:18px; margin-bottom:10px;}
	.pin-box h4 { font-size:15px; margin-bottom:4px; font-weight:600; margin-top:12px;}
	.pin-box h4 a, .tline-box h4 a { color:#434343;}
	.pin-box h4 a:hover, .tline-box h4 a:hover { color:#d11e25;}
	.pin-ecxt h6.blog-author, .tline-ecxt h6.blog-author, .tline-box h6  { font-size:11px; font-weight:600; text-transform:uppercase; }
	.pin-ecxt h6.blog-author {  margin-bottom:8px;}
	.pin-ecxt, .tline-ecxt { border-bottom:1px solid #efefef; padding:0 12px 18px; margin:0;  margin-bottom:10px; }
	.pin-ecxt { padding:0 24px 18px; margin:0 -24px 8px -24px; }
	.pin-ecxt2 { padding-top:12px;}
	.container .pin-ecxt2 p, .pin-ecxt2 p small { font-size:11px; font-weight:600; margin:0;}
	.pin-ecxt2 p { line-height:20px;}
	.pin-ecxt2 p small { color:#a2a2a2; display:block; }
	.pin-ecxt2 img { width:40px; height:40px; float:left; margin:0; margin-top:4px; margin-right:10px; border-radius:3px;}
	
	.tline-box  { width:380px;  padding:10px; padding-bottom:40px; margin-top:21px; margin-bottom:40px; min-height:380px; border-radius:3px; position:relative; border:1px solid #d7dce7; box-shadow:0 1px 3px -2px rgba(0,0,0,0.3); -webkit-box-shadow:0 1px 6px -3px rgba(0,0,0,0.3); -webkit-box-sizing: content-box;  -moz-box-sizing: content-box; box-sizing: content-box; }
	.tline-box * { max-width:100% !important;}
	.tline-row-l, .tline-row-r { background:url(../images/tmln-ro-r1.png) no-repeat right 12%; width:46px; height:17px; margin-right:-44px; display:block; position:absolute; right:0; top:16px;}
	.tline-row-r { background:url(../images/tmln-ro-l1.png) no-repeat left 12%; left:0; margin:0; margin-left:-43px; }
	.tline-box.rgtline { float:right;  margin-top:53px; right:0; clear: right; }
	
	.tline-box:hover  { box-shadow:0 1px 6px -2px rgba(141,161,199,0.9); -webkit-box-shadow:0 1px 11px -3px rgba(141,161,199,0.9); }
	.tline-topdate { width:150px; position:relative; display:block; clear:both; zoom:1; padding:4px; border:2px solid #e3e4e8; background:#fff; font-size:14px; text-align:center; font-weight:600; line-height:26px; color:#aeb0b6;  margin:0 auto 7px; border-radius:2px;  text-shadow: 0 1px 1px #fff;}
	.tline-topdate.enddte { bottom:0; margin-bottom:0; }
	
	.blog-post { margin-bottom: 40px; }
	.postmetadata { margin-bottom:20px;}
	.postmetadata h6 { display:inline; letter-spacing:1px; text-transform:uppercase; font-size:11px; font-weight:600;}
	.blog-post h4, .blog-post h1, .blog-post h3, .blog-line h4 { font-weight: 300; font-family: 'Roboto Slab'; line-height: 1; letter-spacing: -0.03em; }
	.blog-post h3 { font-size: 28px; margin-bottom:8px; font-weight:400; line-height:38px; }
	.blog-single-post h1 {font-size:44px; line-height:54px; font-weight:400;  font-family: 'Roboto Slab'; letter-spacing: -0.04em;}
	.blog-single-post p { font-size:17px; line-height:1.7; letter-spacing:0;}
	.blog-single-post h6.blog-author { letter-spacing:0.2em;}
	.blog-single-post .postmetadata { margin-bottom:0;}
	
	.latest-f-blog .blog-post h4 { font-size: 24px; font-weight:300; margin-bottom:14px;}
	.blog-post a, .blog-line a { color: #2e373d; -webkit-transition: color 0.18s ease; -moz-transition: color 0.18s ease; -o-transition: color 0.18s ease; transition: color 0.18s ease; }
	.blog-post a:hover, .blog-author span, .blog-line p a:hover { color: #e84a52; }
	.blog-post a.readmore { color: #363f46; margin-top: 22px; }
	.blog-post p { margin-bottom:34px;}
	.blog-line p, .blog-line p a, .blog-post p.blog-author, .blog-post p.blog-author a { text-align: left; font-size: 11px; text-transform:uppercase; line-height: 1.6; color: #888; margin-bottom: 10px; letter-spacing: 2px; font-weight:600;  }
	.blog-post p.blog-cat a, .blog-line p.blog-cat a { color:#e84a52; margin-bottom:7px; letter-spacing:0.3px; font-size:14px; }
	.blog-line p a:hover, .blog-post p a:hover { text-decoration:underline;}
	
	.blog-post p strong, .blog-line p strong { font-weight:400;}
	.blog-post img, .blog-post iframe, .blog-single-post img, .blog-single-post iframe { width: 100%; border-bottom: 3px solid #eee; margin-bottom:14px; }
	.blog-post .post img, .blog-post .post iframe, .blog-single-post .post img, .blog-single-post.post iframe { width:auto; border:inherit;}
	.search-results .blog-post img { width:auto;}
	.blog-post .flex-control-nav li { margin-bottom: 0;}
	.blog-post .flexslider img, .blog-single-post .flexslider img { margin-bottom:0px;}
	
	.blog-q { border-left: 1px solid #d8d8d8; padding-left: 12px; }
	.blog-q em { color: #a5adae; }
	p.blog-inpic img { float:left; border:1px solid #c9c9c9; background:#f9f9f9; width:280px; max-width:100%; padding:6px; margin:0 14px 14px 0;}
	
	.date-sp-wrap { max-width: 100px; margin: 0 10px; float: left; }
	.blog-date-sp, .blog-com-sp { height: 40px; padding: 6px; padding-bottom: 20px; width: 90px; float: right; border-top-left-radius: 6px; color: #fff; background: #636e75 url(../images/blg-date-botpic1.png) no-repeat bottom right; font-weight: bold; font-family: Arial, sans-serif; }
	.blog-date-sp h3 { width: 30px; float: left; margin: 1px 5px; color: #0093d0; }
	.blog-date-sp span { float: right; margin: 4px; color: #a2aab0; font-size: 12px; line-height: 1.2; }
	.blog-com-sp { background: none; color: #95a2aa; padding: 0 6px 8px; margin-top: -12px; text-align: center; font-size: 12px; height: 16px; border-radius: 0px; border-bottom-left-radius: 11px; }
	.blog-com-sp a { color: #95a2aa; }
	.pin-box .blog-date-sp, .pin-box .blog-com-sp, .tline-box .blog-date-sp, .tline-box .blog-com-sp { position: relative; bottom: 0; margin: -10px; margin-top: 7px; width: 50%; border: 0; border-radius: 0; background: #ebebeb; padding: 0; }
	.pin-box .blog-com-sp, .tline-box .blog-com-sp { float: left; height: 40px; padding: 12px 23px 0 0; }
	.pin-box .blog-date-sp h3, .tline-box .blog-date-sp h3 { margin-left: 12px; margin-top:3px; text-shadow: 0 0 1px rgba(0,0,0,0.1); font-weight:300; font-family:"Open Sans", Arial; }
	..tline-box .blog-date-sp, .tline-box .blog-com-sp { width: 47%; margin:0; position:absolute; bottom:15px; left:0; }
	.tline-box .blog-com-sp { right:0; left:auto;}
	
	h6.blog-date , h6.blog-cat , h6.blog-author, h6.blog-date a, h6.blog-cat a, h6.blog-author a  { color: #b5b5b5;}
	h6.blog-comments { color: #6f7276;}
	h6.blog-date a:hover, h6.blog-cat a:hover, h6.blog-author a:hover { text-decoration:underline;}
	
	.tline-box h6.blog-cat { font-size: 13px; background: #f2f2f2; color: #666666; padding-left: 7px; }
	.blog-post .flex-direction-nav a, .tline-box .flex-direction-nav a { padding:16px 8px; margin-top:-28px; top:50%;}
	.blog-post  .flex-control-paging li a, .tline-box  .flex-control-paging li a  { width:12px; height:12px;}
	.blog-post .flex-control-nav, .tline-box .flex-control-nav { bottom:15px; right:24px;}
	.blog-post .flex-control-nav li, .tline-box .flex-control-nav li { margin:0 3px;}
	.blog-post .flexslider .slides > li, .tline-box .flexslider .slides > li { margin-bottom:9px;}
	.blog-post .flexslider img, .tline-box .flexslider img { margin-bottom:0;}
	.blog-post .mejs-container { margin-bottom:14px;}
		

	.next-prev-posts { border-top:3px solid #e9e9e9; padding:16px 0; margin-top:20px;}
	.next-prev-posts a.next-post { float:right;}
	.post-tags { background:#fafafa; padding:16px; margin-top:20px;}
	.post-tags a { color:#7c7c7c;}
	.post-tags a:hover { text-decoration:underline;}
	.about-author-sec { padding:16px 0; border-top:4px solid #b3b3b3; border-bottom:2px solid #d3d3d3; margin:10px 0 20px;}
	.blog-single-post .post .about-author-sec img { float:left; width:90px; height:90px; border-radius:50%; margin-right:30px; background:#fff; padding:2px; border:3px solid #b3b3b3;}
	.about-author-sec h5 { font-weight:bold;}
	.about-author-sec p { font-size:13px; font-weight:400; color:#888; line-height:1.7;}
	
	.blog-date-sec { color: #555; padding-right:20px; text-align: center; line-height: 10px; border-right: 1px solid #eaeaea; letter-spacing: 2px; }
	.blog-date-sec h3 { color: #555; font-weight: 300; line-height: 1.2; padding-top: 2px; margin: 0; letter-spacing: 4px; }
	.blog-date-sec span { display: block; font-weight: 300; text-transform: uppercase; margin-top: 8px; }
	.blog-line { margin-bottom: 15px; padding-bottom:15px; border-bottom:1px solid #e5e5e5; }
	.blog-line img { float: right; width: 140px; height: 110px; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.img-hover { position: relative; max-width: 100%; float: right; margin-left: 15px; }
	.img-hover:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; -webkit-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); -moz-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); opacity: 1; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.blog-line:hover .img-hover:before { -webkit-box-shadow: inset 0 0 0 5px #e84a52; -moz-box-shadow: inset 0 0 0 5px #e84a52; box-shadow: inset 0 0 0 5px #e84a52; }
	.blog-line h4 { font-size: 17px; letter-spacing: 0; font-weight: 400; margin-bottom: 10px; line-height:1.4; }
	.blog-line:hover h4 a { color: #e84a52; }
		
	/* Category Box */	
	.latest-cat { padding: 14px 16px 0; border:1px solid #e7e7e7;}
	.latest-cat .lc-main { margin-bottom:4px}
	.latest-cat .lc-main  h4 { font-size: 17px; letter-spacing: 0; font-weight: 400; margin-bottom: 6px; line-height: 1.4;}
	.latest-cat .blog-author, .latest-cat .blog-author * { font-size: 10px; letter-spacing:1px;}
	.latest-cat .lc-main .blog-detail { font-size: 13px; color: #777; font-weight: 400; line-height: 1.8;}
	.latest-cat .lc-main a.readmore { border-width: 1px; font-size: 11px;}
	.latest-cat .lc-items { background:#f5f5f5; padding: 14px 16px 0; margin:0 -16px -15px; border-top:3px solid #e9e9e9;}
	.latest-cat .lc-items h4 { font-size:14px;}
	.latest-cat .lc-items img { width: 100px; height: auto;}
	.latest-cat .lc-items article { overflow: hidden;}
	.latest-cat .lc-items article:last-child{ border-bottom: 0;}
	
	
	a.readmore { position: relative; margin: 4px 0 3px 1px; -webkit-transition: all 0.17s ease-in-out; -moz-transition: all 0.17s ease-in-out; -ms-transition: all 0.17s ease-in-out; -o-transition: all 0.17s ease-in-out; transition: all 0.17s ease-in-out; border:2px solid #c8c8c8; padding: 6px 32px 6px 22px;  color: #363f46; box-shadow: 0 0 0 0; font-size: 12px; text-transform: capitalize; }
	a.readmore:after, a.magicmore:after, a.addtocart:before, a.select-options:before { position: absolute; right: 10px; top: 9px; font-family: 'icomoon'; font-size: 11px; color: #363f46; content: "\e3c2"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
	a.readmore:after { color:#c8c8c8;}
	a.readmore:hover { border-color: #363f46; text-decoration:none !important;}
	a.readmore:hover a.readmore:after { color: #363f46;}
	a.readmore:active { background-color: #fafafa; color: #999; }
	a.magicmore, a.addtocart, a.select-options { position: relative; padding: 3px 14px 2px 0; color: #0093d0; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -ms-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	a.magicmore { font-size: 14px; font-weight:600; line-height: 23px; color:#f08484; padding:3px 26px 2px 0 }
	a.magicmore:hover { color: #ed7676; }
	a.magicmore:after { content: "\e3b0"; position:relative; color: inherit; top: -1px; right: -3px; font-size: 8px; padding:4px; border:2px solid #f08484; border-radius:50%;
	-webkit-transition: border 0.16s ease; -moz-transition: border 0.16s ease; -ms-transition: border 0.16s ease; -o-transition: border 0.16s ease; transition: border 0.16s ease; }
	a.magicmore:hover:after { border-color:#2e3435;}
	a.addtocart, a.select-options { padding: 4px 2px 2px 18px; color: #7f7f7f; float: right; display: inline-block; font-size: 12px; font-weight: bold; }
	a.select-options { float: left; }
	a.addtocart:hover, a.select-options:hover { color: #0ab1f0; cursor: pointer; }
	a.addtocart:before, a.select-options:before { content: "\e0ca"; color: inherit; top: 8px; left: 1px; font-size: 13px; }
	a.select-options:before { content: "\e08f"; }
	.row.magic { padding-left: 40px; }
	.columns.magic { padding-left: 20px; }
	.magic-link { clear: both; }
	.magic-link a { display: inline-block; font-size: 13px; width: auto; color: #fff; text-shadow: 1px 1px 0 #eb8710; border-radius: 15px; padding: 3px 22px 3px 16px; text-transform: capitalize; background: #ffa02f url(../images/rowp3.png) no-repeat right; background-position: 97% 52%; -webkit-transition: padding 0.2s ease, background 0.16s ease; -moz-transition: background 0.16s ease; -ms-transition: background 0.16s ease; -o-transition: background 0.16s ease; transition: background 0.16s ease; text-align: center; }
	.magic-link a.get { padding: 7px 26px 7px 20px; background-color: #7ebd22; border-radius: 5px; text-shadow: 1px 1px 0 #649b19; text-transform: uppercase; }
	.magic-link a.get.shadow1 { box-shadow: 0px 0px 5px #fff inset, 0 2px 3px -1px #74ad20; -webkit-box-shadow: 0px 0px 7px #fff inset, 0 2px 5px -1px #74ad20; }
	.magic-link a:hover { background-color: #4c4665; background-position: center right; text-shadow: 1px 1px 0 #666; }
	
	
	
	/* COMMENT */
	
	.commentbox { min-height:156px;  border-radius:6px; text-align:left; margin:12px 0; }
	#commentform { padding-top:12px; border-top:1px dotted #d3d3d3; }
	#commentform label { font-size:17px; font-weight:300; display:inline;}
	#commentform .required { margin-left:3px;}
	/* comments list */
	ol.commentlist { padding: 0; margin-left:0; background: #fff;   }
	.commentlist li { list-style: none;	margin: 0;	padding: 18px 0 0 0;border-top: 1px solid #c1c1c1; overflow:hidden; }
	.commentlist li a:link, .commentlist li a:visited { color: #0ab1f0; }
	.commentlist li .comment-info {	margin: 0; padding: 0; overflow:hidden; min-height:96px; padding-left:123px; padding-top:14px; }
	.commentlist li .comment-info img {	float: left; margin: 3px 30px 3px -120px; width:90px; height:90px; border-radius:45px; background: #eee;	display: inline; }
	.commentlist li .comment-info cite { display: inline; font-size:16px; line-height:17px;	text-transform:capitalize;	margin: 0;	padding: 5px 6px 5px 0px;	font-style: normal;	font-weight: bold; margin-bottom:0; }
	.commentlist li .comment-info cite .comment-data {	font-size: 11px; font-weight: normal; float:right; display: inline; padding-right:10px;}
	.commentlist li .comment-text {	clear: both;	margin: 0; margin-top:-76px;	padding: 0 20px 25px 123px; }
	.commentlist li .comment-text p {	margin:  5px 0 20px 0;	padding: 0; line-height:1.8;}
	.commentlist li .comment-text .reply a {	padding: 4px 8px;   border-radius:1px;	background-color: #f0f0f0;	font-size: 13px;	color: #444;}
	.commentlist li .comment-text .reply a:hover { background-color:#0ab1f0; border-color:#48a648; color: #fff; }
	.commentlist li ul.children { margin:0; padding: 0; }
	.commentlist li ul.children li.depth-2, .commentlist li ul.children li.depth-3 { margin-left: 40px; border-color:#e3e3e3; }
	.commentlist li .comment-text ol li, .commentlist li .comment-text ul li { border:none;  padding:5px 0;}
	.commentlist li .comment-text ol, .commentlist li .comment-text ol li { list-style:decimal; overflow:visible; }
	.commentbox h3 { margin-top:14px;}
	.comment-form-comment textarea { width:98%; }
	.form-allowed-tags { font-size:11px; padding:6px; background:#f3f3f3; }
	
	@media only screen and (max-width: 767px) {
	.commentlist li .comment-info { padding-left:50px; padding-top:20px; }
	.commentlist li .comment-info img { width:40px; height:40px; border-radius:20px; margin-top:-2px; margin-right:10px; margin-left:-50px;}
	.commentlist li .comment-text { padding-left:50px; }
	.commentlist li .comment-info cite .comment-data { position:relative; top:-44px; right:-8px; display:inline;}
	.commentlist li .comment-text p { font-size:14px;}
	.blog-post .col-md-1.alpha { padding-left:10px;}
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	.blog-post .col-md-2 { width:20%;}
	.blog-post .col-md-10 { width:80%;}
	.blog-post .col-md-2 .blog-date-sec { width:auto;}
	.blog-post .col-md-1 { width:10%;}
	.blog-post .col-md-5 { width:45%;}
	.blog-post .col-md-6 { width:45%;}
	.blog-post .col-md-1, .blog-post .col-md-2, .blog-post .col-md-5, .blog-post .col-md-6, .blog-post .col-md-10 { float:left;}	
	}
	
/* -------- end ----------- */