/* dynamic generated css*/
body { font-size:17px;}
#wrap #nav a:hover, #wrap  #nav li:hover > a, #wrap #nav li.current > a, #wrap #nav li.current ul li a:hover, #wrap #nav li.active > a { color:#e07603;}

#wrap #header.sm-rgt-mn #menu-icon:hover i, #wrap #header.sm-rgt-mn #menu-icon.active i {color:#ffffff;}

#wrap .icon-box7 a.magicmore {background:#e07603;}

#wrap .contact-form .btnSend {background-color:#e07603;}
#wrap .contact-form .btnSend:hover {background-color:#3a3a3a;}
#footer { background-color:#505050; }
.footbot { background-color:#303030; }
