/*----------------------------------

	Theme Name: Brazil
	----------------------
		
	/* #Eelements + (Bootstrap elements)
	================================================== */

	
	/* Max Sliders */
	.max-hero .slides-control {margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%; display: block;}
	.max-hero .slides-control .slides-container {display: none;}
	.max-hero .slides-control .sparallax .slide-image{background-attachment: fixed;background-size: cover; background-position: center center; background-repeat: no-repeat;}
	.max-hero .slides-control .spattern .slide-image:after, .spattern.max-video:after, .video-sec .spattern:after{ background: url(../images/spattern.png); width:100%; height:100%; bottom:0; left:0; position:absolute; z-index: 1; content: ""; }
	.mejs-controls {display:none !important}
	/* Max Sliders Navigation */
	.max-hero .slides-navigation {margin: 0 auto;position: absolute;z-index: 3;top: 46%;width: 100%;}
	.max-hero .slides-navigation a {position: absolute;display: block;width:74px;height:74px;background:url(../images/arrows2.png);opacity:0;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;}
	.max-hero .slides-navigation a.prev {left: 1%;background-position:bottom center;}
	.max-hero .slides-navigation a.next {right: 1%;background-position:top center;}
	.max-hero .slides-navigation a:hover{opacity:1 !important;}
	.max-hero:hover .slides-navigation a{opacity:0.3;}
	/* Max Sliders Content */
	.slides-content {color:#fff; position: absolute; width: 100%; top: 38% ; margin: 0 auto; z-index: 2;background: transparent; height: 300px; min-height: 300px; text-align: center;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);transform: translateY(-50%);}
	.tagline-slider.flexslider{background: transparent; text-align:center; margin-bottom:20px; }
	.tagline-slider.flexslider .slides {height:auto; padding:0;margin:0 auto;position:relative; overflow:initial; }
	.tagline-slider.flexslider .slides li{word-break: break-word; color:#fff; list-style:none; font-size:49px; }
	.tagline-slider.flexslider .slides li span{color:#1bbc9b;}
	.tagline-slider .flex-direction-nav {display:none;}
	.tagline-slider .flex-control-nav {position: static;}
	.tagline-slider .flex-control-paging li a { background:none; border:2px solid rgba(255,255,255,0.6); text-shadow:1px 1px 2px rgba(0,0,0,5);}
	.tagline-slider .flex-control-paging li a.flex-active { border-color:#fff; background:none;}
	
	.slides-content p {line-height: 28px; width: 100%; max-width: 670px; margin: 35px auto; position: relative; text-align: center;color: #fff; font-size:14px; font-weight: 400; letter-spacing:0;}
	.slides-content .button { background:none; margin-top:50px; font-size: 12px; font-weight:bold; border: 2px solid rgba(255,255,255,0.77); color: #fff; letter-spacing: 2px; text-transform: uppercase;text-shadow:1px 1px 1px rgba(0,0,0,0.3);  box-shadow:0px 1px 5px rgba(0,0,0,0.14) inset; padding:10px 25px; border-radius:25px; }
	.slides-content .button:hover { background:rgba(0, 0, 0, 0.4);}
	
	.max-hero h1, .max-hero h2, .max-hero h3, .max-hero h4, .max-hero h5, .max-hero h6 { color:#fff; line-height:1.2; margin-bottom:10px; text-shadow:1px 1px 2px rgba(0,0,0,0.2); font-weight:400; }
	.max-hero h1 strong, .max-hero h2 strong, .max-hero h3 strong { font-weight:bold;}
	.max-hero h1, .max-hero h1 strong { font-size:110px; letter-spacing:-0.06em;}
	.max-hero h2 { font-size:75px;}	
	.max-hero h3 { font-size:59px; padding:7px 12px; margin:20px 0 30px; border:5px solid #fff; line-height:1; text-transform:uppercase; display:inline-block; font-weight:900; position:relative; letter-spacing:-0.06em; opacity:0.91;}
	.max-hero h3:after, .max-hero h3:before, .max-hero h5:after, .max-hero h5:before { content:""; display:block; width:80px; height:5px; margin-left:-40px; background:#fff; position:absolute; left:50%; top:-10px;}
	.max-hero h3:after, .max-hero h5:after { top:auto; bottom:-10px;}
	.max-hero h5:after, .max-hero h5:before { height:2px; opacity:0.71;}
	.max-hero h5 { position:relative;}
	.max-hero h4 { font-size:49px; letter-spacing:-0.04em;}
	.max-hero h6 { font-size:17px; padding:12px 18px; margin:20px 0 30px; background:rgba(0, 0, 0, 0.3); display:inline-block; line-height:1.8;} 
	
	/* Max Titles */
	
	.sec-divider{ background:url(../images/dividerline1.png) center center repeat-x; margin: 25px auto 30px; display: block; position: relative; height:1px}
	.sec-divider .cir{margin: auto; width: 50px; height: 50px; border: 1px solid #d7d7d7; padding: 11px 0;text-align: center;position: relative;top: -26px; border-radius: 100px; font-size:16px; line-height:26px; color:#b5b9bc}
	.blox.dark .sec-divider {  background:url(../images/dividerline2.png) center center repeat-x;}
	.blox.dark .sec-divider .cir{border: 2px solid rgba(255, 255, 255, 0.7); color:#fff}

	.max-title, .max-title2,.max-title3, .max-title4, .max-title5{text-align: center; margin:45px auto 40px; font-weight: 400; letter-spacing: 1.6px;}
	.max-title { margin-bottom: 5px; display: inline-block; text-align:left; margin-top:40px; }
	.vc_span6 .max-title, .vc_span3 .max-title, .vc_span4 .max-title { margin-top:14px;}
	.max-title *{ font-weight: 400;position: relative;display: inline-block; color: #3b454d; font-size:21px; line-height:1.3; margin-bottom:0; letter-spacing:-0.6px; text-transform:none;}
	.max-title:after{ content: ""; margin: 6px 0 15px; width: 35px; height: 0; display: block; position: relative; border-bottom: 3px solid #494949; }
	.max-title .max-line { display:none;}

	.max-title3 { margin-bottom:35px}
	.max-title3 *{ font-size: 49px; font-weight: bold; letter-spacing: -4px;}
	.max-title3:after{ content: ""; margin: 20px auto 10px; width: 140px; height: 0; display: block; position: relative; border-bottom: 4px solid #b5b9bc; }
	.max-title3 span, .blox .max-title3 span{color:#27ae60}
	.blox.dark .max-title3:after{ border-bottom-color:#fff;}
	
	
	.max-title4 *{ font-weight: bold;position: relative; text-transform:uppercase;display: inline;padding: 5px 10px;color: #3b454d; border: 4px #3b454d solid; letter-spacing:-0.01em;}
	.max-title5 *, .max-title2 *{ font-weight: bold;position: relative;display: inline-block; color: #3b454d; margin-top:20px; font-size:12px; line-height:1.3; margin-bottom:0; letter-spacing:1.6px; text-transform:uppercase;}
	.max-title5 , .max-title2 { margin-top:25px; margin-bottom:35px;} 
	.max-title2 *{ font-weight:600; font-size:15px; color:#888a91;}
	.max-title5:after, .max-title2:after{ content: ""; margin: 8px auto 20px; width: 50px; height: 0; display: block; position: relative; border-bottom: 2px solid #3b454d; }
	.max-title2:after { width:24px; border-color:#79797c;}
	.blox.dark .max-title5 *, .blox.dark .max-title4 *{ color:#fff; border-color:#fff;}	
	.blox.dark .max-title5:after, .blox.dark .max-title2:after { border-color:#fff;}
	
	/* Subtitle */
	.sub-title {padding: 12px 0 14px; margin: 16px 0 20px 1px; border-bottom: 2px solid #27ae60; text-transform: uppercase; font-size: 14px; color: #777; letter-spacing: 1.2px; font-weight: bold;}
	
	/* Max Paragraph */
	.max-p {max-width: 660px; margin: 0 auto 40px; font-size: 19px; line-height: 1.7; color: #a2a5a7; font-weight: 300; text-align:center}
	.blox.blackbox .max-p {color:#808080}
	#wrap .bg-white { background:#fff;}
	
		
	
	/* Max Counter */
	.max-counter { display:inline-block; text-align:center; color: #393A3A;font-size: 36px;}
	.max-counter.s-counter .icon-counter{color: #27ae60;margin-right: 15px;}
	.max-counter h5{margin-top: 15px;font-size: 14px; font-weight:600; letter-spacing:1px; text-transform:uppercase; position:relative;}
	.max-counter h5:after{ content: ""; margin: 8px auto 20px; width: 24px; height: 0; display: block; position: relative; border-bottom: 2px solid #777; }
	.blox.dark .max-counter i, .max-counter i{color: #27ae60;margin-right: 15px;}
	.blox.dark .max-counter.m-counter .max-count, .dark-content .max-counter.m-counter .max-count {border: 2px solid #fff;}
	.max-counter.m-counter{ margin: 0 auto; padding: 20px; position:relative;}
	.max-counter.m-counter .max-count{border: 2px solid #777; border-radius: 100%; position:relative; height: 190px;width: 190px;margin: 0 auto;display: table-cell;vertical-align: middle;font-size: 49px; font-weight:bold; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out; }
	.max-counter.m-counter:hover .max-count,.blox.dark .max-counter.m-counter:hover .max-count,.dark-content .max-counter.m-counter:hover .max-count{background-color:#f08484; border-color:#f08484; color:#fff;}
	.m-counter .icon-counter, .m-counter .suf-counter, .m-counter .pre-counter {display:none}
	.max-counter.s-counter{margin-bottom:10%}
	
	/* Max  Quote */
	.max-quote {text-align: center; padding:10px;}
	.max-quote cite{font-size: 18px; font-style:normal;}
	.max-quote small{font-size: 14px;}
	.max-quote:before { content: ''; content: none; }
	.max-quote h2{font-family: "Roboto Slab"; font-size: 24px;}
	.max-quote h2:before { content: '\201C'; }
	.max-quote h2:after { content: '\201D'; }
	.max-quote h2:before, .max-quote h2:after {color: #FF4748;font-family: Times, serif; font-size: 30px; margin: 0 10px; font-weight: bold; }
	.blox.dark .max-quote cite{color:#aaa}
	.blox .max-quote h2{color:#32373b}
	.blox.dark .max-quote h2{color:#fff}
	
	/* Social Media */
	.blox .social-media {text-align: center}
	.blox .social-media a {text-align: center; padding: 0 10px; margin-bottom: 20px; display: inline-block;}
	.blox .social-media a i {font-size:4em;padding: 30px;border-radius: 50%;color: #ff5d5e;margin-bottom: 20px;display: block; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;background:rgba(15, 15, 15, 0.6)}
	.blox .social-media a:hover i {color: #fff;box-shadow: inset 0 0 0 100px #ff5d5e;}
	.blox .social-media a span{-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; color:transparent;text-transform: uppercase; font-size:16px; font-weight:600; text-shadow: 0 0 5px rgba(33, 65, 83, 1) }
	.blox .social-media a:hover span{color:#fff;}
	
	/* TEAM */
	.our-team {text-align: center; background: #fff;  margin-bottom: 30px; border:1px solid #e7e7e7; overflow:hidden;}
	.social-team { padding-bottom:14px; text-align:center;}
	.our-team figure { position: relative; margin: 0 auto; overflow: hidden; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
	.our-team figure img { width: 100%; height: 100%;}
	.social-team i { margin:0 4px; background:#fff; padding: 10px;font-size: 18px;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;color: #777; }
	.our-team i:hover  {color:#fff}
	.our-team i.icomoon-facebook:hover { background: #3b5996; }
	.our-team i.icomoon-twitter:hover { background: #00acee; }
	.our-team i.icomoon-vimeo:hover { background: #0dadd6; }
	.our-team i.icomoon-dribbble:hover { background: #d53e68; }
	.our-team i.icomoon-youtube:hover { background: #cb322c; }
	.our-team i.icomoon-pinterest:hover { background: #cb2027; }
	.our-team i.icomoon-linkedin:hover { background: #0073b2; }
	.our-team i.icomoon-rss:hover { background: #f29a1d; }
	.our-team i.icomoon-google-plus:hover { background: #c3391c; }
	.our-team i.icomoon-instagram:hover { background: #457399; }
	.our-team h2 { font-size: 22px; margin-top:14px; font-weight: 600; }
	.our-team h5 { color: #ef7a49; margin-bottom: 10px; font-size:11px; font-weight: 600; text-transform:uppercase; }
	.our-team p { padding: 5px 15px 20px; color: #989898; border-bottom:1px solid #efefef; }
	
	
	/* TESTIMONIALS */
	.testimonial { margin-bottom:94px; clear:both; min-width:220px; }
	.testimonial-content { padding:8px 12px; position:relative; border:1px solid #eee; background:#fcfcfc;  border-radius:2px;}
	.container .testimonial-content p { margin:6px;}
	.testimonial-content h4 { padding:10px; line-height:1.7; color:#595959; margin-top:7px; font-family:"Roboto Slab"; }
	.testimonial-content h4 q { font-size:inherit;}
	.testimonial-arrow { position:absolute; width:127px; height:14px;  left:50px; bottom:-14px;}
	.testimonial-arrow:after, .testimonial-arrow:before {content: '';display: block;position: absolute;width: 0; right:58px;height: 0;border-style: solid; border-width: 9px;}
	.testimonial-arrow:after {top: -1;border-color: #fcfcfc transparent transparent transparent ;}
	.testimonial-arrow:before {top: 1px;border-color: #eee transparent transparent transparent;}​
	.testimonial-brand { position:relative; margin:12px 16px 8px 0px;}
	.testimonial-brand img { width:90px; height:90px; border-radius:45px; float:left; border:1px solid #eee; margin-top:10px;}
	.testimonial-brand h5 { float:left; clear:right; margin:20px; margin-left:14px; color:#555; font-size:15px; }
	.testimonial-brand h5 strong { font-weight:600;}
	.testimonial-brand h5 em { font-size:13px; font-style:normal; font-weight:400; color:#888; }
	
	
	/* TESTIMONIALS Slider */

	.testimonials-slider-w .testimonial {  margin-top:10px; margin-bottom:20px; text-align:center; }
	.testimonials-slider-w .testimonial-content { background:none; border:none;}
	.testimonials-slider-w .testimonial-content h4 q {font-size:20px; line-height:1.4;}
	.testimonials-slider-w .testimonial-content h4 q:before { content: '\201C'; }
	.testimonials-slider-w .testimonial-content h4 q:after { content: '\201D'; }
	.testimonials-slider-w .testimonial-content h4 q:before, .testimonials-slider-w .testimonial-content h4 q:after {color: #FF4748;font-family: Times, serif; font-size: 30px; margin: 0 10px; font-weight: bold; }
	.testimonials-slider-w .testimonial-brand h5 {margin:5px 0 0; line-height:1.5;}
	.testimonials-slider-w .testimonial-arrow { display:none; }
	.testimonials-slider-w .testimonial-brand h5, .testimonials-slider-w .testimonial-brand img { float:none;}

	.testimonials-slider-w.flexslider{background: transparent; text-align:center; margin-bottom:20px; }
	.testimonials-slider-w.flexslider .slides {height:auto; padding:0;margin:0 auto;position:relative; overflow:initial; }
	.testimonials-slider-w.flexslider .slides li{word-break: break-word; color:#fff; list-style:none; font-size:49px; }
	.testimonials-slider-w.flexslider .slides li span{color:#1bbc9b;}
	.testimonials-slider-w.flexslider .flex-direction-nav {display:none;}
	.testimonials-slider-w.flexslider .flex-control-nav {position: static;}
	.testimonials-slider-w.flexslider .flex-control-paging li a { width:12px; height:12px; background:#f9f9f9; border:2px solid #91979d;}
	.testimonials-slider-w.flexslider .flex-control-paging li a.flex-active { background:#91979d;}
	.blox.dark .testimonials-slider-w.flexslider .flex-control-paging li a { background:none; border:2px solid rgba(255,255,255,0.6); text-shadow:1px 1px 2px rgba(0,0,0,0.5);}
	.blox.dark .testimonials-slider-w.flexslider .flex-control-paging li a.flex-active { border-color:#fff; background:none;}
	.testimonials-slider-w.flexslider .testimonial-brand { position:relative; margin-left:auto; margin-right:auto; width:272px; text-align:center; margin-top:40px;}
	.testimonials-slider-w.flexslider .testimonial-brand img { width:90px; height:90px; border-radius:45px; float:none; margin-left:90px; border:1px solid #eee; margin-top:10px;}

	
	
	
	/*	jCarousel */
	
	.jcarousel-container { max-width: 100%; padding: 0; display: block; position: relative; }
	.jcarousel-clip { position: relative; overflow: hidden; width: 100%; }
	ul.jcarousel-list { overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; }
	ul.jcarousel-list li { float: left; list-style: none; }
	ul.jcarousel-list li img { max-width: 100%; }
	.jcarousel-item { display: block; }
	.jcarousel-next, .jcarousel-prev {  position: absolute; right: 0; top: -55px; cursor: pointer; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
	.jcarousel-next:after, .jcarousel-prev:after { position: absolute; top: 6px; right: 6px; font-family: 'icomoon'; font-size: 10px; color: #fff; content: "\e3b0"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
	.jcarousel-prev:after { content: "\e3b2"; }
	.jcarousel-next:hover, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:active { background-color: #da131e; }
	.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover { background-color: #e5e8ea; cursor: auto; border-bottom-color: #e0e0e0; }
	
	/*--- our client ---*/
	.client-block { width: 100%; display: block; margin-bottom: 60px; }
	.our-clients-wrap { float: none; margin-top: 70px; position: relative; }
	.our-clients-wrap:after { content: ""; width: 120px; height: 2px; display: block; background: #efefef; position: absolute; left: 50%; bottom: -50px; margin-left: -60px; }
	.jcarousel-next, .jcarousel-prev { right: auto; left: 50%; margin-left: 51px; top: -85px; color: #929ca3; }
	.jcarousel-prev { margin-left: -1px; }
	.jcarousel-next:hover, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:active { border-color: #e84a52; color: #e84a52; }
	.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover { border-color: #e5e5e5; color: #e5e5e5; }
	.jcarousel-next:after, .jcarousel-prev:after { position: absolute; top: 10px; right: 9px; font-family: 'icomoon'; font-size: 32px; color: inherit; }
	.jcarousel-prev:after { right:11px;}
	ul.our-clients { display: block; padding-left: 3px; margin: 20px 0; box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.1); }
	ul.our-clients li { float: left; display: inline; margin-left: 20px; text-align: center; vertical-align: middle; width: 168px; }
	ul.our-clients li:first-child { margin-left: 0; }
	ul.our-clients li:hover { /*background:#fdfdfd;*/ }
	ul.our-clients:after { clear: both; }
	ul.our-clients img { max-width: 100%; max-height: 100%; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; opacity:0.5;}
	ul.our-clients img:hover { opacity:1; }
	

	/* Plans & Pricing */
	#wrap .ptp-pricing-table { display: block; width:auto; margin: 0 auto; }
	#wrap .ptp-pricing-table .ptp-item-container { text-align: center; margin: 12px 0; -webkit-transition: all .03s ease; -moz-transition: all .03s ease; -ms-transition: all .03s ease; -o-transition: all .03s ease; transition: all .03s ease; border: 1px solid transparent; border-radius: 6px;}
	#wrap .ptp-pricing-table .ptp-plan { background-color: #e7e7e7; font-weight: normal; font-size: 20px; margin: 0;padding: 16px;border-radius: 4px 4px 0 0; color:#425b71;}
	#wrap .ptp-pricing-table .ptp-price { padding: 8px 0; color: #fff; font-weight: bold; background: #27ae60; font-size: 12px; letter-spacing:1.2px; text-transform:uppercase; }
	#wrap .ptp-pricing-table .ptp-bullet-item { background-color:#fbfbfb; color:#979797; text-align:center; padding: 16px 0; margin: 0; font-size: 13px; font-weight: 400; border-bottom: 1px dotted #e3e3e3; }
	#wrap .ptp-pricing-table .ptp-bullet-item span{color:#425b71; font-weight:700}
	#wrap .ptp-pricing-table .ptp-item-container .ptp-cta {border-radius: 0 0 4px 4px; background-color: #f7f7f7; border-top:3px solid #f0f0f0;}
	#wrap .ptp-pricing-table .ptp-item-container .ptp-button {padding: 12px 0; border: none; background-color: transparent; color: #4f667a; font-size:12px; font-weight:bold; text-transform:uppercase;}

	#wrap .ptp-pricing-table .ptp-item-container:hover {background-color:#fff; }
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-plan{background: #e4644b; color: #fff;}
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-price{background: #de5440;}
	#wrap .ptp-pricing-table .ptp-item-container:hover .ptp-button { box-shadow: none; background-color:#e4644b; color:#fff}
	#wrap .ptp-pricing-table .ptp-three-col {width: 33.33333333333333%;}
	#wrap .ptp-pricing-table .ptp-four-col  {width: 25%;}
	
	
	/* OUR PROCESS SECTION */
	
	.our-process-wrap { min-height: 260px; margin-bottom: 40px; }
	.our-process { border-bottom: 1px dashed #e0e0e0; position: relative; height: 160px; }
	.our-process:before, .our-process:after, .our-process-item:after { content: "\e285"; position: absolute; left: -8px; bottom: -4px; font-family: 'icomoon'; font-size: 16px; color: #ccc; }
	.our-process:after { left: auto; bottom: -11px; right: -8px; content: "\e278"; }
	.our-process.proc4level .our-process-item { width: 25%; }
	.our-process.proc5level .our-process-item { width: 20%; }
	.our-process.proc3level .our-process-item { width: 33.33%; }
	.our-process-item { height: 160px; float: left; position: relative; }
	.our-process-item:before { width: 1px; background: #e5e5e5; height: 82px; float: left; position: absolute; bottom: 0; left: 39px; content: ""; }
	.our-process-item:after { bottom: -12px; left: 60%; content: "\e3b4"; font-size: 16px; background: none; }
	.our-process-item .our-process-content { position: absolute; left: 85px; overflow: hidden; }
	.our-process-item i { color: #7d7d86; font-size: 32px; float: left; padding: 20px; border-radius: 39px; border: 3px solid #e5e5e5; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
	.our-process-item:hover i { background: #e84a52; color: #fff; border-color: #f28d93; }
	.our-process-item h5 { font-weight: 400; font-size: 17px; margin: 16px 10px 8px 0; }
	
	@media only screen and (max-width: 767px) {
	.our-process.proc4level { height: 640px; }
	.our-process.proc5level { height: 800px; }
	.our-process.proc3level { height: 480px; }
	.our-process { border: none }
	.our-process:before { display: none; }
	.our-process:after { left: 31px; }
	.our-process.proc4level .our-process-item, .our-process.proc5level .our-process-item, .our-process.proc3level .our-process-item { width: 100%; }
	.our-process-item:after { content: "\e3b5"; left: 31px; bottom: 30px; }
	.our-clients-wrap { padding-top: 110px; }
	}
	
	
	
	/* Latest from blog */
	.latest-b {margin-bottom:35px; border:1px solid #eee;}
	.latest-content {background: #fff; padding: 15px;}
	#wrap div.latest-content p.latest-date { margin-bottom: 5px; color: #aaa;}
	.latest-title {font-size: 16px;font-weight: 400;line-height: 22px;font-family: roboto slab;}
	.latest-title a {color: #3b454d;}
	.latest-title a:hover {color: #e84c3d;}
	.latest-img img{width:100%; height:100%;}
	.latest-author {margin-bottom:10px}
	
	
	/* Twitter */
	.twitter-box{ width: 100%; background: #00a0d1; text-align: center; padding: 50px 0; }
	.twitter-box i { display: inline-block; font-size: 60px; color: #fff; padding: 15px; margin: 10px 0; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
	.twitter-box h3 { font-size: 20px; color: #fff; width:80%; margin: 0 auto 30px; line-height: 1.5; }
	.twitter-box a { color:#111;}
	.twitter-box a:hover { text-decoration:underline;}
	.twitter-box a.follow-twitter { color:#fff; background: #058dc1;  border-radius: 50px; padding: 10px 30px; font-weight:400; vertical-align:middle; text-decoration:none}
	.twitter-box a.follow-twitter:hover {border: 2px solid #fff;}
	
	/* Contact */

	.contact-form p { color: #555; }
	.contact-form input { width: auto; display: block; height: 45px; padding-left: 15px; background: #F7F7F7;}
	.contact-form textarea { display: block; width: 100%; height: 110px; padding: 5px 15px; background: #F7F7F7;}
	.contact-form textarea:focus, .contact-form input:focus { background: #fff; -moz-box-shadow: 0 0 3px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2); border: 1px solid #aaa; }
	.contact-form input, .contact-form textarea { border: 1px solid #E3E3E3; color: #555; width: 100%; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.contact-form .btnSend { width: 100%; color: #fff; font-size: 15px; border: none; height: 45px; background: #27ae60; font-weight: 400; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
	.contact-form input, .contact-form textarea, .contact-form .btnSend { font-family: Arial;}
	.contact-form .btnSend:hover { background: #25a68c; }
	.contact-info h5 { margin-bottom: 15px; }
	.contact-info p { margin:0; font-size: 13px; padding: 7px 0; font-weight:400; color: #555;}
	.contact-info i { font-size: 17px; margin-right: 10px; color: #e84c3d; }
	.our-map:before{content: ''; background: url(../images/map.png) repeat-x 0 0;height: 4px; overflow: hidden; width: 100%; margin: 0; display:block;}
	#nav .btnSend { background:none; padding:8px 16px; font-size:11px; font-weight:600; color:#797979; border:2px solid #e9e9e9; box-shadow:none; text-transform:uppercase;}
	
	
	
	
	/* Pie Chart */
	.easyPieChart { position: relative; text-align: center; }
	.easyPieChart canvas { position: absolute; top: 0; left: 0; }
	.pie { text-align:center; font-size:49px; position:relative; margin:0 auto 20px; }
	.pie p { font-size:16px; color:#888; font-weight:400; position:absolute; bottom:-52px; width:100%; padding-top:10px; border-top:2px solid #f9f9f9;}
	.container .pie p { margin-bottom:0;}
	
   /* Callout (Promo Box) */
	
	.callout { padding: 34px 20px; background:#fcfcfc; min-height: 60px; margin: 8px 10px 30px; position: relative; clear: both; border:1px solid #e5e5e5; box-shadow: 0 0 0 4px #f5f5f5; }
	.callout h1, .callout h2, .callout h3 { font-weight: 600; }
	.callout a { text-decoration: underline; }
	.callout a.callurl { display: block; font-size:11px; font-weight:600; padding: 10px 30px; background: #fff; text-decoration: none; color: #363f46; border: 2px solid #e5e5e5; box-shadow: 0 0 0 3px #f6f6f6; text-transform: uppercase; letter-spacing: 1.6px; margin: 4px 0 10px 15px; position: relative; float: right; border-radius: 3px; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
	.callout a.callurl:hover { border-color: #363f46; }
	.container .callout p { margin: 0; }
	.container div .callout { margin-left: 0; margin-right: 0; }
	
	
	.dpromo h4 { display:inline-block; padding-bottom:7px;}
	.dpromo img { float:right; margin-left:3px;}

	
	/* Distance (Vertical Spaces) */
	.vertical-space, .vertical-space1, .vertical-space2, .vertical-space3, .vertical-space4, .vertical-space5 { display: block; width: 100%; margin: 0; clear: both; border: 0 none; height: 20px; }
	.vertical-space2 { height: 40px; }
	.vertical-space3 { height: 60px; }
	.vertical-space4 { height: 80px; }
	.vertical-space5 { height: 100px; }
	*+html hr.vertical-space, *+html hr.vertical-space1, *+html hr .vertical-space2, *+html hr.vertical-space3, *+html hr.vertical-space4, *+html hr.vertical-space5 { height: 0px; margin: 10px 0; background: #fff; border: 1px solid #fff; }
	*+html hr.vertical-space2 { margin: 20px 0; }
	*+html hr.vertical-space3 { margin: 30px 0; }
	*+html hr.vertical-space4 { margin: 40px 0; }
	*+html hr.vertical-space5 { margin: 50px 0; }
		
	/* TITLE */
	h4.subtitle { border-bottom: 1px solid #e5e5e5; font-family: 'Open Sans', Helvetica, Arial; font-weight: bold; letter-spacing:0.6px; text-transform: uppercase; line-height: 1.8; padding-bottom:8px; font-size: 12px; color: #54606b; clear: both; margin: 19px 0 21px 0; }
	h4.subtitle img { float: left; margin-right: 5px; vertical-align: baseline }
	h4.subtitle.r1dd { margin-top: 20px; }
	.title { background: #fff url(../images/title-left1.png) repeat-x 0 6px; overflow: hidden; margin-bottom: 21px; clear: both; }
	.title h4, .title h3 { background: #fff; display: inline; margin-left: 18px; padding: 0 3px; font-weight: 400;  font-size: 18px; }
	h6.h-sub-content { display: inline-block; letter-spacing: 0.2px; font-size: 15px; font-weight: 400;  border-bottom: 1px solid #ff675b; line-height: 35px; margin-bottom: -1px; width: auto; max-width: 100%; }
	.sub-content span { display: inline-block; font-size: 10px; font-weight: bold; letter-spacing: 2px; }
	.sub-content { border-bottom: 1px solid #e9e9e9; position: relative; margin-bottom: 30px; }
	.mex-title { border-bottom: 1px solid rgba(0, 0, 0, 0.08); display: inline-block; padding-bottom: 20px; margin-bottom: 20px; font-weight: 100; letter-spacing: 0; }
	
	/*	ACCORDION */
	.acc-trigger {	border-top: 1px solid #e4e4e4; cursor: pointer; display: block; margin: 0;	}
	.acc-trigger:last-of-type, .acc-container:last-of-type { border-bottom: 3px solid #f3f2f2; margin-bottom: 20px; }
	.no-js .acc-trigger:last-of-type { border-bottom: none; }
	.acc-trigger a { background: url(../images/accordion-ico.png) no-repeat 6px 18px;	display: block;	color:#656f78;	padding: 19px 14px 16px 40px; text-decoration: none; text-shadow: none; font-weight:bold; font-size:16px; }
	.acc-trigger a:hover { background-color: #fbfbfb;  }
	.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { color: #0ab1f0; }
	.acc-trigger.active a:hover { background-color: transparent; }
	.acc-trigger.active { cursor: default;  border-top-color:#b0afaf; background-color:#fff; }
	.acc-trigger.active:last-of-type { border-bottom: none; margin-bottom: 0; }
	.acc-trigger.active a { background-position: 6px -54px; cursor: default;	}
	.acc-container .content {  padding: 0 14px 21px 40px;  }
	
	/* Quote of the Week */
	.qot-week { clear: both; margin: 10px; margin-top: 36px; padding-bottom: 18px; position: relative; text-align: center; border-top: 1px solid #e5e5e5; }
	.qot-week .qot-pic { position: relative; margin: 0 auto; margin-top: 7px; height: 40px; width: 74px; }
	.qot-week .qot-pic:before { content: '\201C'; border-top: 2px solid #c4c4c4; border-radius: 50%; font-size: 62px; color: #555; font-weight: bold; background: #fff; padding: 3px 20px; margin-top: 20px; font-family: Georgia, Times, serif }
	.qot-week h6.qot-title { text-transform: uppercase; margin: 8px 0; color: #999; display: block; clear: both; font-size: 10px; font-weight: bold; }
	.qot-week blockquote, .qot-week blockquote cite, .qot-week blockquote cite small { padding: 0; margin: 0; font-style: normal; }
	.qot-week blockquote:before { content: ''; content: none; }
	.qot-week h3 { font-family: "Roboto Slab"; font-size: 24px; }
	.qot-week h3:before { content: '\201C'; }
	.qot-week h3:after { content: '\201D'; }
	.qot-week h3:before, .qot-week h3:after { font-family: Times, serif; font-size: 30px; margin: 0 10px; font-weight: bold; }
	.qot-week cite { display: block; font-weight: 400; margin-top: 20px; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 17px; color: #494949; margin-bottom: 8px; }
	.qot-week cite:before { content: '\2014\0020'; }
	.column .qot-week, .columns .qot-week { margin-left: 0; margin-right: 0; }
		
	/* Prgress Bar */
	.progress-barBg { position: relative; z-index: 3; width: 100%; height: 45px; box-shadow: inset 0px 1px 3px rgba(40, 40, 40, 0.1); margin-bottom: 25.5px; background: #fff; background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,.02))); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%); background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,.02) 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000', GradientType=0 );
	}
	.progress-bar-box h5 { margin-bottom: 11px; }
	.progress-bar { position: absolute; top: 0; left: 0; z-index: 2; height: 45px; -webkit-animation: fillup 5s ease; -moz-animation: fillup 5s ease; -ms-animation: fillup 5s ease; -o-animation: fillup 5s ease; animation: fillup 5s ease; }
	.progress-barFill { width: 100%; height: 45px; -webkit-animation: progress 1s linear infinite; -moz-animation: progress 1s linear infinite; animation: progress 1s linear infinite; background-repeat: repeat-x; background-size: 45px 45px; background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
	.progress-percent { position: absolute; top: -30px; left: 100%; z-index: 1; width: 38px; margin-left: -19px; text-align: center; background: #000; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; opacity: 0; -webkit-animation: percent-show 1.7s ease 5s forwards; -moz-animation: percent-show 1.7s ease 5s forwards; -o-animation: percent-show 1.7s ease 5s forwards; animation: percent-show 1.7s ease 5s forwards; }
	.progress-percent:after { width: 8px; height: 8px; content: ' '; position: absolute; z-index: 2; top: 100%; left: 50%; margin: -4px 0 0 -4px; background: #000; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
	.progress-percent p { display: inline-block; margin: 0; color: #fff; font-size: 12px; line-height: 1; }
	
	.white-space { clear: both; width: 100%; height: 40px; }

	.flrdbtnshow a.button { margin-right:5px;}


/* #Bootstrap elements
================================================== */

	.dropup,
	.dropdown {
	  position: relative;
	}
	
	.dropdown-toggle {
	  *margin-bottom: -3px;
	}
	
	.dropdown-toggle:active,
	.open .dropdown-toggle {
	  outline: 0;
	}
	
	.caret {
	  display: inline-block;
	  width: 0;
	  height: 0;
	  vertical-align: top;
	  border-top: 4px solid #000000;
	  border-right: 4px solid transparent;
	  border-left: 4px solid transparent;
	  content: "";
	  opacity: 0.3;
	  filter: alpha(opacity=30);
	}
	
	.dropdown .caret {
	  margin-top: 8px;
	  margin-left: 2px;
	}
	
	.dropdown:hover .caret,
	.open .caret {
	  opacity: 1;
	  filter: alpha(opacity=100);
	}
	
	.dropdown-menu {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: 1000;
	  display: none;
	  float: left;
	  min-width: 160px;
	  padding: 4px 0;
	  margin: 1px 0 0;
	  list-style: none;
	  background-color: #ffffff;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0, 0, 0, 0.2);
	  *border-right-width: 2px;
	  *border-bottom-width: 2px;
	  -webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
			  border-radius: 5px;
	  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		 -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  -webkit-background-clip: padding-box;
		 -moz-background-clip: padding;
			  background-clip: padding-box;
	}
	
	.dropdown-menu.pull-right {
	  right: 0;
	  left: auto;
	}
	
	.dropdown-menu .divider {
	  *width: 100%;
	  height: 1px;
	  margin: 8px 1px;
	  *margin: -5px 0 5px;
	  overflow: hidden;
	  background-color: #e5e5e5;
	  border-bottom: 1px solid #ffffff;
	}
	
	.dropdown-menu a {
	  display: block;
	  padding: 3px 15px;
	  clear: both;
	  font-weight: normal;
	  line-height: 18px;
	  color: #7a7f83;
	  white-space: nowrap;
	}
	
	.dropdown-menu li > a:hover,
	.dropdown-menu .active > a,
	.dropdown-menu .active > a:hover {
	  color: #ffffff;
	  text-decoration: none;
	  background-color: #1eb1e4;
	}
	
	.open {
	  *z-index: 1000;
	}
	
	.open > .dropdown-menu {
	  display: block;
	}
	
	.pull-right > .dropdown-menu {
	  right: 0;
	  left: auto;
	}
	
	
	.well, .promobox {
	  min-height: 20px;
	  padding: 19px;
	  margin-bottom: 20px;
	  background-color: #f9f9f9;
	  border: 1px solid #e1e7ec;
	  border: 1px solid rgba(0, 0, 0, 0.05);
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
			  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	
	.well blockquote {
	  border-color: #e5e5e5;
	  border-color: rgba(0, 0, 0, 0.15);
	}
	
	.well blockquote:before, blockquote.well:before { content:""; content:none;}
	
	.well-large {
	  padding: 24px;
	  -webkit-border-radius: 6px;
		 -moz-border-radius: 6px;
			  border-radius: 6px;
	}
	
	.well-small {
	  padding: 9px;
	  -webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
			  border-radius: 3px;
	}
	
	.promobox {
	  background: #fdfdfd;
	  padding-bottom: 11px;
	}
	.promobox button, .promobox .button {
	  float:right;
	}
	
	.collapse {
	  position: relative;
	  height: 0;
	  overflow: hidden;
	  -webkit-transition: height 0.35s ease;
		 -moz-transition: height 0.35s ease;
		  -ms-transition: height 0.35s ease;
		   -o-transition: height 0.35s ease;
			  transition: height 0.35s ease;
	}
	
	.collapse.in {
	  height: auto;
	}
	
	.close {
	  float: right;
	  font-size: 20px;
	  font-weight: bold;
	  line-height: 18px;
	  color: #000000;
	  text-shadow: 0 1px 0 #ffffff;
	  opacity: 0.2;
	  filter: alpha(opacity=20);
	}
	
	.close:hover {
	  color: #000000;
	  text-decoration: none;
	  cursor: pointer;
	  opacity: 0.4;
	  filter: alpha(opacity=40);
	}
	
	.nav {
	  margin-bottom: 18px;
	  margin-left: 0;
	  list-style: none;
	}
	   
	.nav > li > a {
	  display: block;
	}
	
	.nav > li > a:hover {
	  text-decoration: none;
	  background-color: #e1e7ec;
	}
	
	.nav > .pull-right {
	  float: right;
	}
	
	.nav .nav-header {
	  display: block;
	  padding: 3px 15px;
	  font-size: 11px;
	  font-weight: bold;
	  line-height: 18px;
	  color: #999999;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  text-transform: uppercase;
	}
	
	.nav li + .nav-header {
	  margin-top: 9px;
	}
	
	.nav-list {
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-bottom: 0;
	}
	
	.nav-list > li > a,
	.nav-list .nav-header {
	  margin-right: -15px;
	  margin-left: -15px;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
	
	.nav-list > li > a {
	  padding: 3px 15px;
	}
	
	.nav-list > .active > a,
	.nav-list > .active > a:hover {
	  color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	  background-color: #0088cc;
	}
	
	.nav-list [class^="icon-"] {
	  margin-right: 2px;
	}
	
	.nav-list .divider {
	  *width: 100%;
	  height: 1px;
	  margin: 8px 1px;
	  *margin: -5px 0 5px;
	  overflow: hidden;
	  background-color: #e5e5e5;
	  border-bottom: 1px solid #ffffff;
	}
	.nav-tabs,
	.nav-pills {
	  *zoom: 1;
	}
	
	.nav-tabs:before,
	.nav-pills:before,
	.nav-tabs:after,
	.nav-pills:after {
	  display: table;
	  content: "";
	}
	
	.nav-tabs:after,
	.nav-pills:after {
	  clear: both;
	}
	
	.nav-tabs > li,
	.nav-pills > li {
	  float: left;
	}
	
	.nav-tabs > li > a,
	.nav-pills > li > a {
	  padding-right: 18px;
	  padding-left: 18px;
	
	  line-height: 14px;
	}
	
	.nav-tabs {
	  border-bottom: 1px solid #e5e5e5;
	  
	}
	
	.nav-tabs > li {
	  margin-bottom: -1px;
	  
	}
	
	.nav-tabs > li > a {
	  padding-top: 12px;
	  background:#f7f7f7;
	  padding-bottom: 12px;
	  color:#555;
	  line-height: 18px;
	  border: 1px solid #e5e5e5;
	  border-right:0 none;
	  font-family:Arial, Helvetica, sans-serif; font-size:13px; 
	
	}
	
	.nav-tabs > li > a:hover {
	  background:#fbfbfb;
	}
	
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
	  cursor: default;
	  background-color: #ffffff;
	  border: 1px solid #e5e5e5;
	  border-bottom: 0 none;
	  padding-top:20px;
	  margin-top:-7px;
	  
	}
	
	.nav-pills > li > a {
	  padding-top: 8px;
	  padding-bottom: 8px;
	  margin-top: 2px;
	  margin-bottom: 2px;
	  -webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
			  border-radius: 5px;
	}
	
	.nav-pills > .active > a,
	.nav-pills > .active > a:hover {
	  color: #ffffff;
	  background-color: #0088cc;
	}
	
	.nav-stacked > li {
	  float: none;
	}
	
	.nav-stacked > li > a {
	  margin-right: 0;
	}
	
	.nav-tabs.nav-stacked {
	  border-bottom: 0;
	}
	
	.nav-tabs.nav-stacked > li > a {
	  border: 1px solid #e5e5e5;
	  -webkit-border-radius: 0;
		 -moz-border-radius: 0;
			  border-radius: 0;
	}
	
	.nav-tabs.nav-stacked > li:first-child > a {
	  -webkit-border-radius: 4px 4px 0 0;
		 -moz-border-radius: 4px 4px 0 0;
			  border-radius: 4px 4px 0 0;
	}
	
	.nav-tabs.nav-stacked > li:last-child > a {
	  -webkit-border-radius: 0 0 4px 4px;
		 -moz-border-radius: 0 0 4px 4px;
			  border-radius: 0 0 4px 4px;
	}
	
	.nav-tabs.nav-stacked > li > a:hover {
	  z-index: 2;
	  border-color: #e5e5e5;
	}
	
	.nav-pills.nav-stacked > li > a {
	  margin-bottom: 3px;
	}
	
	.nav-pills.nav-stacked > li:last-child > a {
	  margin-bottom: 1px;
	}
	
	.nav-tabs .dropdown-menu {
	  -webkit-border-radius: 0 0 5px 5px;
		 -moz-border-radius: 0 0 5px 5px;
			  border-radius: 0 0 5px 5px;
	}
	
	.nav-pills .dropdown-menu {
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	}
	
	.nav-tabs .dropdown-toggle .caret,
	.nav-pills .dropdown-toggle .caret {
	  margin-top: 6px;
	  border-top-color: #0088cc;
	  border-bottom-color: #0088cc;
	}
	
	.nav-tabs .dropdown-toggle:hover .caret,
	.nav-pills .dropdown-toggle:hover .caret {
	  border-top-color: #005580;
	  border-bottom-color: #005580;
	}
	
	.nav-tabs .active .dropdown-toggle .caret,
	.nav-pills .active .dropdown-toggle .caret {
	  border-top-color: #333333;
	  border-bottom-color: #333333;
	}
	
	.nav > .dropdown.active > a:hover {
	  color: #000000;
	  cursor: pointer;
	}
	
	.nav-tabs .open .dropdown-toggle,
	.nav-pills .open .dropdown-toggle,
	.nav > li.dropdown.open.active > a:hover {
	  color: #ffffff;
	  background-color: #999999;
	  border-color: #999999;
	}
	
	.nav li.dropdown.open .caret,
	.nav li.dropdown.open.active .caret,
	.nav li.dropdown.open a:hover .caret {
	  border-top-color: #ffffff;
	  border-bottom-color: #ffffff;
	  opacity: 1;
	  filter: alpha(opacity=100);
	}
	
	.tabs-stacked .open > a:hover {
	  border-color: #999999;
	}
	
	.tabbable {
	  *zoom: 1;
	}
	
	.tabbable:before,
	.tabbable:after {
	  display: table;
	  content: "";
	}
	
	.tabbable:after {
	  clear: both;
	}
	
	.tab-content {
	  overflow: auto;
	  border:1px solid #e5e5e5;
	  border-top:0 none;
	  padding-top:18px;
	  margin-top:-18px;	
	}
	
	.tab-content .columns {
	   max-width:100%;
	   }
	 
	.tab-content .columns p {
	   padding:0;
	   }
	
	.tabs-below > .nav-tabs,
	.tabs-right > .nav-tabs,
	.tabs-left > .nav-tabs {
	  border-bottom: 0;
	}
	
	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	  display: none;
	  padding:15px 25px;
	}
	
	.tab-content > .active,
	.pill-content > .active {
	  display: block;
	}
	
	.tabs-below > .nav-tabs {
	  border-top: 1px solid #e5e5e5;
	}
	
	.tabs-below > .nav-tabs > li {
	  margin-top: -1px;
	  margin-bottom: 0;
	}
	
	.tabs-below > .nav-tabs > li > a {
	  -webkit-border-radius: 0 0 4px 4px;
		 -moz-border-radius: 0 0 4px 4px;
			  border-radius: 0 0 4px 4px;
	}
	
	.tabs-below > .nav-tabs > li > a:hover {
	  border-top-color: #e5e5e5;
	  border-bottom-color: transparent;
	}
	
	.tabs-below > .nav-tabs > .active > a,
	.tabs-below > .nav-tabs > .active > a:hover {
	  border-color: transparent #e5e5e5 #e5e5e5 #e5e5e5;
	}
	
	.tabs-left > .nav-tabs > li,
	.tabs-right > .nav-tabs > li {
	  float: none;
	}
	
	.tabs-left > .nav-tabs > li > a,
	.tabs-right > .nav-tabs > li > a {
	  min-width: 190px;
	  margin-right: 0;
	  margin-bottom: 3px;
	  text-transform:uppercase;
	  font-size:12px;
	  font-weight:bold;
	  border-left:0 none;
	  background:#fdfdfd;
	  color:#838383;
	}
	
	.tabs-left > .nav-tabs {
	  float: left;
	  margin-right:-1px;
	  padding-top:40px;
	}
	
	.tabs-left > .nav-tabs > li > a {
	  margin-right: -1px;
		border: 1px solid #e5e5e5;
		padding:10px;
		margin:0;
		border-left:0 none;

	}
	
	.tabs-left > .nav-tabs > li > a:hover {
	  border-bottom:1px solid #e5e5e5;
	  color:#444;
	}
	
	.tabs-left > .nav-tabs .active > a,
	.tabs-left > .nav-tabs .active > a:hover {
	  border-bottom:1px solid #e5e5e5;
	  border-right-color: #ffffff;
	  padding:10px;
	  border-left:0 none;
	  margin:0;
	  color:#333;
	  background:#fff;
	}
	
	.tabs-right > .nav-tabs {
	  float: right;
	  border-left: 1px solid #e5e5e5;
	}
	
	.tabs-right > .nav-tabs > li > a {
	  margin-left: -1px;
		border: 1px solid #e5e5e5;
	}
	
	.tabs-right > .nav-tabs > li > a:hover {
	  border-color: #e5e5e5 #e5e5e5 #e5e5e5 #e5e5e5;
	  border-width:1px;
	}
	
	.tabs-right > .nav-tabs .active > a,
	.tabs-right > .nav-tabs .active > a:hover {
	  border-color: #e5e5e5 #e5e5e5 #e5e5e5 transparent;
	  *border-left-color: #ffffff;
	}
	.tabs-right > .tab-content,
	.tabs-left > .tab-content,
	.tabs-below > .tab-content {
	  margin:0;
	  padding:4px;
	  padding-top:10px;
	  display:block;
	  border:0 none;
	  border-left:1px solid #e5e5e5;
	  box-shadow : 0 0 0 0;
	}
	
	.tabs-below > .tab-content {
	  border:1px solid #e5e5e5;
	  border-bottom:0 none;
	  }
	
	
	.tooltip {
	  position: absolute;
	  z-index: 1020;
	  display: block;
	  padding: 5px;
	  font-size: 11px;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  visibility: visible;
	}
	
	.tooltip.in {
	  opacity: 0.8;
	  filter: alpha(opacity=80);
	}
	
	.tooltip.top {
	  margin-top: -2px;
	}
	
	.tooltip.right {
	  margin-left: 2px;
	}
	
	.tooltip.bottom {
	  margin-top: 2px;
	}
	
	.tooltip.left {
	  margin-left: -2px;
	}
	
	.tooltip.top .tooltip-arrow {
	  bottom: 0;
	  left: 50%;
	  margin-left: -5px;
	  border-top: 5px solid #000000;
	  border-right: 5px solid transparent;
	  border-left: 5px solid transparent;
	}
	
	.tooltip.left .tooltip-arrow {
	  top: 50%;
	  right: 0;
	  margin-top: -5px;
	  border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #000000;
	}
	
	.tooltip.bottom .tooltip-arrow {
	  top: 0;
	  left: 50%;
	  margin-left: -5px;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid #000000;
	  border-left: 5px solid transparent;
	}
	
	.tooltip.right .tooltip-arrow {
	  top: 50%;
	  left: 0;
	  margin-top: -5px;
	  border-top: 5px solid transparent;
	  border-right: 5px solid #000000;
	  border-bottom: 5px solid transparent;
	}
	
	.tooltip-inner {
	  max-width: 200px;
	  padding: 3px 8px;
	  color: #ffffff;
	  text-align: center;
	  text-decoration: none;
	  background-color: #000000;
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	}
	
	.tooltip-arrow {
	  position: absolute;
	  width: 0;
	  height: 0;
	}	
	
	.pull-right {
	  float: right;
	}
	
	.pull-left {
	  float: left;
	}
	
	.hide {
	  display: none;
	}
	
	.show {
	  display: block;
	}
	
	.invisible {
	  visibility: hidden;
	}
	
	.pagination2 {
	  height: 36px;
	  margin: 18px 0;
	}
	
	.pagination2 ul {
	  display: inline-block;
	  *display: inline;
	  margin-bottom: 0;
	  margin-left: 0;
	  -webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
			  border-radius: 3px;
	  *zoom: 1;
	  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		 -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	
	.pagination2 li {
	  display: inline;
	}
	
	.pagination2 a {
	  float: left;
	  padding: 0 14px;
	  line-height: 34px;
	  text-decoration: none;
	  border: 1px solid #e5e5e5;
	  border-left-width: 0;
	}
	
	.pagination2 a:hover,
	.pagination2 .active a {
	  background-color: #f5f5f5;
	}
	
	.pagination2 .active a {
	  color: #999999;
	  cursor: default;
	}
	
	.pagination2 .disabled span,
	.pagination2 .disabled a,
	.pagination2 .disabled a:hover {
	  color: #999999;
	  cursor: default;
	  background-color: transparent;
	}
	
	.pagination2 li:first-child a {
	  border-left-width: 1px;
	  -webkit-border-radius: 3px 0 0 3px;
		 -moz-border-radius: 3px 0 0 3px;
			  border-radius: 3px 0 0 3px;
	}
	
	.pagination2 li:last-child a {
	  -webkit-border-radius: 0 3px 3px 0;
		 -moz-border-radius: 0 3px 3px 0;
			  border-radius: 0 3px 3px 0;
	}
	
	.pagination2-centered {
	  text-align: center;
	}
	
	.pagination2-right {
	  text-align: right;
	}
	
	
	.alert {
	  padding: 8px 35px 8px 36px;
	  background:url(../images/alert-notice-ico.png) no-repeat;
	  background-position: 9px 50%;
	  margin-bottom: 18px;
	  color: #c09853;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  background-color: #fcf8e3;
	  border: 1px solid #f3d9a6;
	  -webkit-border-radius: 2px;
		 -moz-border-radius: 2px;
			  border-radius: 2px;
	}
	
	.alert img {
	   float: left;
	   margin:-2px 6px 4px -4px;
	   }
	
	.alert-heading {
	  color: inherit;
	}
	
	.alert .close {
	  position: relative;
	  top: -2px;
	  right: -21px;
	  line-height: 18px;
	}
	
	.alert-success {
	  color: #468847;
	  background:url(../images/alert-success-ico.png) no-repeat;
	  background-position: 8px 50%;
	  background-color: #e1eec9;
	  border-color: #8fbe32;
	}
	
	.alert-danger,
	.alert-error {
	  color: #b94a48;
	  background:url(../images/alert-error-ico.png) no-repeat;
	  background-position: 9px 50%;
	  background-color: #fce6e9;
	  border-color: #ed9aa3;
	}
	
	.alert-info {
	  color: #3a87ad;
	  background:url(../images/alert-info-ico.png) no-repeat;
	  background-position: 9px 50%;
	  background-color: #d9edf7;
	  border-color: #98cdd8;
	}
	
	.alert-block {
	  padding-top: 14px;
	  padding-bottom: 14px;
	}
	
	.alert-block > p,
	.alert-block > ul {
	  margin-bottom: 0;
	}
	
	.alert-block p + p {
	  margin-top: 5px;
	}
	
	button.close {
		padding:0;
		margin:0;
		border:0;
		background:none;
		}
	
	table {
	  max-width: 100%;
	  background-color: transparent;
	  border-collapse: collapse;
	  border-spacing: 0;
	}
	
	.table {
	  width: 100%;
	  margin-bottom: 18px;
	}
	
	.table th,
	.table td {
	  padding: 8px;
	  line-height: 18px;
	  text-align: left;
	  vertical-align: top;
	  border-top: 1px dotted #e5e5e5;
	}
	
	.table th {
	  font-weight: bold;
	}
	
	.table thead th {
	  vertical-align: bottom;
	  border-top:0 none;
	  background:#f7f7f7;
	}
	
	
	.table tbody + tbody {
	  border-top: 2px solid #e5e5e5;
	}
	
	.table-condensed th,
	.table-condensed td {
	  padding: 4px 5px;
	}
	
	.table-bordered {
	  border: 1px solid #e5e5e5;
	  border-collapse: separate;
	  *border-collapse: collapsed;
	  border-left: 0;
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	}
	
	.table-bordered th,
	.table-bordered td {
	  border-left: 1px solid #e5e5e5;
	}
	
	
	.table tbody tr:hover td,
	.table tbody tr:hover th {
	  background-color: #fcfcfc;
	}
	
	@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
	
	@-moz-keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	
	@-ms-keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	
	@-o-keyframes progress-bar-stripes {
	  from {
		background-position: 0 0;
	  }
	  to {
		background-position: 40px 0;
	  }
	}
	
	@keyframes progress-bar-stripes {
	  from {
		background-position: 40px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	
	.progress {
	  height: 32px;
	  margin-bottom: 18px;
	  overflow: hidden;
	  background-color: #f7f7f7;
	  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	  background-repeat: repeat-x;
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		 -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	}
	
	.progress .bar {
	  width: 0;
	  height: 34px;
	  font-size: 15px;
	  line-height:33px;
	  color: #ffffff;
	  text-align: left;
	  padding-left:12px;
	  background-color: #0e90d2;
	  background-repeat: repeat-x;
	  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		 -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
			  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	  -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		  -ms-box-sizing: border-box;
			  box-sizing: border-box;
	  -webkit-transition: width 0.6s ease;
		 -moz-transition: width 0.6s ease;
		  -ms-transition: width 0.6s ease;
		   -o-transition: width 0.6s ease;
			  transition: width 0.6s ease;
	}
	
	
	.progress .bar small { color:#fafafa; font-size:12px; }
	
	.progress-striped .bar {
	  background-color: #149bdf;
	}
	
	.progress.active .bar {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
		 -moz-animation: progress-bar-stripes 2s linear infinite;
		  -ms-animation: progress-bar-stripes 2s linear infinite;
		   -o-animation: progress-bar-stripes 2s linear infinite;
			  animation: progress-bar-stripes 2s linear infinite;
	}
	
	.progress-danger .bar, .progress-red .bar {
	  background-color: #e53f51;

	}
	
	.progress-success .bar, .progress-green .bar {
	  background-color: #8fbe32;

	}
	
	.progress-info .bar, .progress-blue .bar {
	  background-color: #03acdc;

	}
	
	.progress-warning .bar, .progress-orange .bar {
	  background-color: #f98805;
	}