/*----------------------------------

	Theme Name: Brazil
	----------------------
		
	/* NAVIGATION BAR  */
	
	#nav-wrap .container { position:relative;}
	.nav-wrap1, .nav-wrap2 { height:60px;  position:relative; }
	.nav-wrap2 { height:77px; border-top:1px solid #f0f0f0; margin-bottom:-14px; border-bottom:4px solid #f3f3f3;  }
	.nav-wrap2.mn4 { height:50px; margin-bottom:-15px; }
	
	
	/* menu icon */
	#menu-icon { display: none; /* hide menu icon initially */}
	
	#nav { float:right;}
	#nav li { list-style: none; padding:0 12px; margin:0; float:left; display:block; height:100%; vertical-align:middle; }	
	
	/* nav link */
	#nav a { display: block; font-family: 'Open Sans', sans-serif; font-size: 12px; font-weight:600; padding: 0px; line-height: 30px; color: #666; outline: 0; opacity:1; text-align:center; -webkit-transition:all .15s ease-in-out;	-moz-transition:all .15s ease-in-out;	-ms-transition:all .15s ease-in-out;	-o-transition:color .15s ease-in-out; transition:all .15s ease-in-out;}
	#nav a:hover, #nav li:hover > a, #nav li.current > a, #nav li.active > a { color:#0ab1f0; background:transparent }
	#nav a i { font-size:16px; display:inline; color:inherit; margin-right:4px; vertical-align:baseline;}
	#nav > li > a i { margin-right:6px; font-weight:normal;}

	#nav > li.current > a, #nav > li.active > a { position:relative;}

	#nav > li > a { margin:18px 0 26px; }
	#header.sticky #nav-wrap #nav > li { padding:0 12px;}
	#header.sticky #nav-wrap #nav > li > a { margin:0; padding:21px 0; line-height:18px; }

	
	/* nav dropdown */
	#nav ul { position: absolute; width: 192px; background: #fff;  padding: 10px 5px 18px 7px; margin:0;  border: 1px solid #e2e2e2; border-top-color:#e4e4e4; border-radius:4px; box-shadow:0 2px 12px rgba(0,0,0,0.082); z-index:91000; display: none; /* hide dropdown */}
	#nav > li > ul:after, #nav > li > ul:before { content: '';display: block;position: absolute; left:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
	#nav > li > ul:after { top: -18px;border-color: transparent transparent #fff transparent ;}
	#nav > li > ul:before { top: -19px;border-color: transparent transparent #e1e1e1 transparent;}​
	#nav > li > ul.mega:after, #nav > li > ul.mega:before { border-color: transparent;}
	#nav > li > ul.mega:after { top:auto; bottom:5px; z-index:0; border-color: transparent;}

	#nav > li:last-child ul { left:auto; right:0;}
	
	@media only screen and (min-width: 768px) {
		#nav > li:last-child ul ul{ margin-left:0; margin-right: 174px;}
		#nav > li:last-child ul.mega ul, #nav > li:last-child ul.mega { margin-right:0;}
		#nav > li:last-child ul { padding-left:0;}
		#nav > li:last-child ul li{ padding-left:20px;}
	}
	
	#nav ul li { float: none; display:block; position:relative;	margin: 0; padding:0;}
	#nav ul li:last-child { border:none;}
	#nav ul li a, #nav ul li:hover > a { color:#484848; width:auto; display:block; text-align:left; padding: 8px 0 0px 14px; border-radius:0; font-size:13px; font-weight:400; border:0 none; text-t ransform:capitalize; line-height:24px; }



	#nav ul li a:hover, #nav li.current ul li a:hover, .nav-wrap2 #nav ul li a:hover, .nav-wrap2.darknavi #nav ul li a:hover, #nav ul li.current > a , #nav ul li:hover > a { color:#0ab1f0; }
	#nav li:hover > ul { display: block; visibility:visible; /* show dropdown on hover */}
	#nav ul li ul { margin:-43px 0 0 173px; width:170px; }

	#nav li.submenux:after { font-family: 'icomoon'; content: "\e3b0"; position:absolute; color:#cdcdcd; font-size:8px; display:inline; speak: none; cursor:pointer; right:9px; top:12px;} 
	#nav ul.mega li.submenux:after { display:none;} 
	
	#nav ul.mega, #nav > li:last-child ul.mega { width:100%; left:0; float:left; border-radius:0;}
	#nav ul.mega div:last-child { margin-right:0 !important;}
	#nav h4.subtitle { margin:14px 0; border-color:#e8e8e8; border-width:1px; font-size:12px;}
	#nav img { max-width:100%; margin-bottom:10px;}
	#nav p { font-size:13px; font-weight:400; color:#747474;}
	#header #nav h6 { margin:0; margin-bottom:7px; color:#555;}
	#nav .sendbtn { padding:7px 20px; font-size:13px;}
	#nav ul.mega ul, #nav ul.mega ul.mega { position:static; display:block; width:auto; border:none; margin:0; padding:0; box-shadow:none;}	
	#nav ul.mega ul li, #nav ul.mega ul li a { margin:0;}
	#nav ul.mega ul li { padding:8px 0; border-bottom:1px solid #eee;}
	#nav ul.mega ul li a { display:inline; line-height:1.4; padding-left:0; padding-right:3px;}
	#nav ul.mega .wpb_content_element { margin-bottom:5px;}
	
	/* nav link Header2 */
	.nav-wrap2 #nav { float:left; margin-bottom:0; }
	.nav-wrap2 #nav li { margin:0; padding:0; }
	.nav-wrap2 #nav > li > a { margin:0; padding: 20px 20px 12px; font-size: 13px; line-height:18px; font-weight:600; text-align:left; border-right:1px solid #eee; }
	.nav-wrap2 #nav > li:first-child { margin-left:7px;}
	.nav-wrap2 #nav > li:first-child > a { border-left:1px solid #eee;}
	#nav a span, #nav > li > a:after { margin-top:4px; display:block; font-size:11px;  color:#919191; text-transform:lowercase; font-weight:400;  }
	#nav > li > a:after  { content: attr(data-description);}
	.nav-wrap1 #nav > li > a:after, .nav-wrap2.mn4 #nav > li > a:after, #nav ul li > li > a:after { content:""; display:none; }
	.nav-wrap2.mn4 #nav > li > a { padding:15px 20px 12px; margin-bottom:3px;}
	
	.nav-wrap2.darknavi { background: #333; border-top:2px solid #202020; border-bottom-color: #222;}
	.nav-wrap2.darknavi #nav > li > a { color:#fff; background:#333; border-color:#222; padding-bottom:11px;}
	.nav-wrap2.darknavi #nav > li > a:hover, .nav-wrap2.darknavi #nav > li:hover > a { background-color:#222;}
	
	#header.sticky .nav-wrap2 #nav { float:right;}
	#header.sticky .nav-wrap2 #nav > li { padding:0 12px;} 
	#header.sticky .nav-wrap2 #nav > li > a { margin:0; padding:21px 0 20px; border:none; background:none; font-weight:600;}
	#header.sticky #nav a span, #header.sticky #nav a:after { display:none;}
	#header.sticky .nav-wrap2 {border:none;}
	#header.sticky .nav-wrap2.darknavi, #header.sticky .nav-wrap2.darknavi #nav > li > a { border:none; background:none;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a { color:inherit;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a:hover { color:#0ab1f0; }
	
	
	
	/* nav dropdown for(ie7) */
	
	*+html #nav li { position:relative; display:block; }
	*+html #nav li ul, *+html #nav li.current ul {  left:0; clear:both; position:absolute; border:1px solid #d4d4d4; }
	*+html .container { z-index:2; }
	*+html #header { z-index:3; position:relative;  }
	*+html #nav ul li ul { position:absolute; left:0; margin-top:-31px; display:none; visibility:hidden; }
	*+html #nav ul li:hover > ul { display:block; visibility:visible; }

/* --------------------- */

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) { 
	
			/* nav-wrap */
	#nav-wrap {	position: relative; height:30px; text-align:center; margin:0 0 32px 0; }

	/* menu icon */
	#menu-icon { color: rgba(255,255,255,0.7); margin:0 auto; font-size:16px; font-weight:400; height: 30px; border-radius:2px; background: #363f46; padding: 3px 10px 3px 42px; cursor: pointer;	 clear:both; box-shadow:  0 2px 2px -2px rgba(0,0,0,0.3); text-align:left; display: block; /* how menu icon */	}
	#menu-icon i { font-size:16px; color:rgba(0,0,0,0.6); float:left; margin-left:-28px; margin-top:3px; }
	#menu-icon:hover, #menu-icon.active {background-color: #0ab1f0; }
	.mn-clk { font-size:12px; color:rgba(255,255,255,0.5);}
	
	/* main nav */
	#nav { clear: both; margin:0 auto; background:#fff; position: absolute; width: 260px; z-index: 10000; padding:2px 0 44px 18px; border: 1px solid #d2d2d2; border-top:0 none;	display: none; /* visibility will be toggled with jquery */	}
	#nav ul { padding:5px 0;}
	#header.sticky #nav-wrap #nav > li, #nav li, .nav-wrap2 #nav li { clear: both; float: none; border:0 none; margin:0; margin-left:10px; padding:0 !important; border-bottom:1px solid #e8e8e8; }
	#nav ul li:last-child, .nav-wrap2 #nav ul li:last-child { border:none;}
	#header.sticky #nav-wrap #nav > li > a, #nav > li  > a { margin:0; padding:14px 0; line-height:16px;}
	#nav ul li a, #nav ul li:hover > a { padding:7px 0;}
	#nav > li > ul:after, #nav > li > ul:before, #nav ul li:before { display:none; visibility:hidden; }
	#nav > li:hover > a, #nav li.current > a, #nav li.active > a{ background:none; color:#0ab1f0;}
	#nav a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a { line-height:24px;}
	#nav a, #nav ul a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a { width:auto; display:block; text-align:left; border:0 none; margin:0; line-height:1.2; }
	.nav-wrap2 #nav > li > a , .nav-wrap2 #nav > li:first-child > a { border:0 none; }
	.nav-wrap2 #nav > li > a { font-size:14px; font-weight:400;}
	.nav-wrap2.darknavi #nav > li > a { color:#666;}
	#nav a span, #nav a:after { display:none; visibility:hidden; }
	#nav > li.current:after { display:none;}
	#nav ul.mega div:last-child { padding-right:20px;}
	#nav ul.mega ul li a { display:block;}
	
	
	
	/* dropdown */
	#nav li ul { display:none; margin:0; padding:0; padding-left:10px; }
	#nav.ie10mfx li ul { display:block;}
	#nav a:hover > #nav li ul { display:block; }
	#nav ul { width: auto; margin:0; box-shadow: none; position: static; display: block; border: none;  }
	#nav ul li ul { margin:0; display: block;  width: auto; padding:0; padding-left:10px; }
	#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type { display: block; }
	#nav li.submenux:after { content: "\e3b1"; }
	
	.nav-wrap2, .nav-wrap2.darknavi { border:0 none; box-shadow:0 0 0 0; background:none;}
	#nav ul.mega, #nav ul.mega div, #nav ul.mega, #nav > li:last-child ul.mega { width:auto; max-width:100%; clear:both; float:none;}	
	
	}
	

	@media only screen and (min-width: 480px) and (max-width: 767px) {
	#nav { left:61px; width: 278px;}
	#menu-icon { width: 278px; }
	#header.sm-rgt-mn #nav { width:100%; left:0;}
	#header.sm-rgt-mn #menu-icon { width:32px;}
	}
	
	
	@media only screen and (max-width: 767px) { 
	
	#header.sm-rgt-mn, #header.hi-header.sm-rgt-mn {padding:0;height:62px;}
	#header.sm-rgt-mn .logo-wrap { float:left; width:70%; height:45px; }
	#header.sm-rgt-mn .logo-wrap .logo { text-align:left !important;}
	#header.sm-rgt-mn .logo-wrap .logo img { max-height:48px; width:auto;}
	#nav > li.current > a, #nav > li.active > a { border-bottom:none;}


	/* menu icon */
	#header.sm-rgt-mn #menu-icon { margin-top:14px; overflow:hidden; z-index:98; padding:0; box-shadow:none;  float:right; width: 32px; height:32px; font-size:16px;  position:absolute; right:0; background: transparent; cursor: pointer; display: block; /* how menu icon */	}
	#header.sm-rgt-mn #menu-icon i { margin:0; font-size:16px; margin-top:7px; color:#636668; cursor: pointer;}
	#header.sm-rgt-mn #menu-icon:hover i, #header.sm-rgt-mn #menu-icon.active i { color:#0ab1f0; cursor: pointer; }
	#header.sm-rgt-mn #menu-icon span { display:none;}
	
	/* main nav */
	#header.sm-rgt-mn #nav { clear: both; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0 auto; width:100%;  top:62px; position: absolute; border: 3px solid #e8e8e8; border-top:0 none;	display: none; /* visibility will be toggled with jquery */	}
	}
	
	@media screen and (min-width: 767px) {
	/* ensure #nav is visible on desktop version */
	#nav {	display: block !important;	}	
	}	
	
	
/* End
 --------------------- */