/*----------------------------------

	Theme Name: Brazil
	----------------------
	
	/* #Portfolio Styles
	================================================== */
	
	.latest-works { overflow: hidden; width: 100%; background: #f7f7f7; padding: 40px 0 0; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
	.container .latest-works { background:none; padding-top:10px;}
	.latest-works .portfolio-item { width: 24.97%; float: left; margin: 0; height: auto; padding: 0; box-sizing: border-box; }
	.latest-works.col2-w .portfolio .portfolio-item { width:49.99%;}
	.latest-works.col3-w .portfolio .portfolio-item { width:33.33333333333333%;}
	.latest-works.col4-w .portfolio .portfolio-item { width:24.979%;}
	.latest-works.col5-w .portfolio .portfolio-item { width:19.99%;}
	.latest-works.col6-w .portfolio .portfolio-item { width:16.65555%;}
	.latest-works.with-space-w .portfolio .portfolio-item { padding:0 15px 30px 15px;}
	 
	.icon-top-title i { display: inline-block; color: #e84a52; font-size: 64px; }
	.img-item { position: relative; overflow: hidden;}
	.img-item img { width: 100%; height: auto; margin: 0; padding: 0; }
	
	.portfolio .portfolio-item .img-item img{ -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; transition: .3s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1); blur:2;}
	.portfolio .portfolio-item:hover .img-item img {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); transform: scale(1.1);}
	
	.portfolio { display: block; padding: 0; }
	.portfolio h4, .recent-works-items h4, .shop-item h4, .side-list h5 { font-weight: 400; margin: 10px 0 7px; font-size: 18px; }
	.portfolio h4 a, .recent-works-items h4 a, .shop-item h4 a, .side-list h5 a { color: #494949; }
	.portfolio h4 a:hover, .recent-works-items h4 a:hover, .shop-item h4 a:hover, .side-list h5 a:hover { text-decoration: underline; }
	.portfolio p, .recent-works-items p { color: #909090; margin-bottom: 40px; padding-bottom: 20px; border-bottom: 4px solid #ededed; text-transform: uppercase; }
	.portfolio-item h5, .portfolio-item h5 strong { color:#6a6a6a; margin-top: 8px; font-weight:600; font-size:15px; }
	nav.primary { padding: 10px; }
	nav.primary .portfolioFilters a { margin: 6px 12px; padding-bottom:4px; font-size: 12px; line-height: 1.2; color: #888; font-weight: bold; letter-spacing:0.6px; text-transform:uppercase; margin-top: 0 !important; text-align: center; width: auto; }
	nav.primary .portfolioFilters a:hover { color: #0ab1f0; }
	nav.primary .portfolioFilters a.selected, nav.primary ul li a:active { border-bottom: 3px solid #0ab1f0; color: #0ab1f0; margin-top: 0 !important; }
	nav.primary .portfolioFilters .portf { color: #61A300; font-weight: bold; margin-right: 10px; padding-top: 5px; }
	nav.primary .portfolioFilters { text-align: center; clear: both; list-style: none outside none; }
	nav.primary .portfolioFilters { margin-right: 10px; }
	
	
	.zoomex, .zoomex2 { width: 100%; background: rgba(0,0,0,.35) url(../images/fancy-big-ico.png) no-repeat center; background-color: url(../images/fancy-big-ico.png)\9;  opacity: 0; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; color: transparent; display: block; filter: alpha(opacity=0); position: absolute; top: 0; bottom: 0; right:0; left:0; margin:0; padding:0;}
	.zoomex2 { background: rgba(0,0,0,.72); background: #000\9; }
	.zoomex2 * { filter: alpha(opacity=0)\9; }
	.zoomex2 i { color: inherit; font-size: 16px; padding: 16px; background:rgba(0,0,0,0.28); border-radius: 50%; }
	.zoomex2 a.zoomlink1, .zoomex2 a.zoomlink2 { position: absolute; bottom: 19%; left: 50%; color: #fff; margin-left: -51px; }
	.zoomex2 a.zoomlink2 { margin-left: 18px; }
	.zoomex2 a:hover i { color: #0ab1f0; border-color: #0ab1f0; }
	.zoomex2 h6 { font-weight: 600; color: #fff; font-size: 19px; text-align: center; position: absolute; bottom: 44%; left: auto; width: 100%; text-shadow: 0 2px 2px rgba(0,0,0,0.2); }
	.container .latest-works .zoomex2 h6 { font-size:15px;} 
	.zoomex2 h6 small { font-size: 11px; color: #e9e9e9; font-weight: 400; display: block; margin-top: 14px; text-transform:uppercase; letter-spacing:2px; }
	.img-item:hover .zoomex, .prettyPhoto:hover .zoomex, .img-item:hover .zoomex2, .img-item:hover .zoomex2 * { opacity: 1; filter: alpha(opacity=100); }
	
	/* ISOTOPE */
	
	.isotope-item { z-index: 2; }
	.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
	.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s; }
	.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; transition-property: height, width; }
	.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity; }
	
	/*------------ portfolio item ------------*/
	
	.portfolio-item-dets { font-size:12px; height:62px; font-weight:normal; float:right; border-bottom:2px solid #e5e5e5; margin-right:10px; margin-top:14px; margin-bottom:30px;}
	.portfolio-item-dets i { font-size:24px; color:#bebebe; margin-left:-3px;}
	.portfolio-item-dets i.liked, .portfolio-item-dets i:hover { color:#e53f51; cursor:pointer;}
	.portfolio-item-like-box { width:36px; text-align:center; float:left; padding-bottom:10px; color:#c3c3c3; padding-left:20px; margin-right:20px;}
	.portfolio-item-detail-box { min-width:193px; float:left; padding:7px 0 10px 20px; color:#c3c3c3; border-left:1px solid #e5e5e5; line-height:1; }
	.portfolio-item-detail-box a { color:#bbb;}
	.portfolio-item-detail-box a:hover { text-decoration:underline;}
	.portfolio-item-detail-box hr { margin:10px 0;}
	.portfolio-item i.icomoon-heart-7 { color:#ef7c88; margin-top:3px;}
	.portfolio-item.jcarousel-item.col-md-3 { width:220px; float:left;}
	.portfolio-item-title { padding-top:10px; }
	.portfolio-item-title:after {content: ""; margin:9px 0 15px; width: 37px; height: 0; display: block; position: relative; border-bottom: 5px solid #494949;}
	
	.related-works { padding-top:160px; margin-top:30px; border-top:1px solid #e8e8e8; margin-bottom:-40px; background:#fcfcfc; padding-bottom:40px;}
	.related-works h4.subtitle { text-align:center; margin-top:-130px; border:none;}
	.related-works h4.subtitle:after {content: ""; margin: 6px 0 15px; height: 0; left:50%; margin-left:-30px; width:60px; display: block; position: relative; border-bottom: 3px solid #e1e1e1;}
	.portfolio-archive-w .portfolio-item {  width:32%; float: left; padding:0 15px; }
	.portfolio-archive-w .portfolio { margin:10px -15px;}
	
	
	@media only screen and (max-width: 959px) {
	
	.latest-works .portfolio-item, .latest-works.col2-w .portfolio .portfolio-item, .latest-works.col3-w .portfolio .portfolio-item, .latest-works.col4-w .portfolio .portfolio-item, .latest-works.col5-w .portfolio .portfolio-item, .latest-works.col6-w .portfolio .portfolio-item { width:49.8%; }
	.portfolio-item.jcarousel-item.col-md-3 { width:200px;}
	.portfolio-item-dets { float:none; border-top:2px solid #e5e5e5; margin-top:30px; height:84px; padding-top:10px;}
	.related-works h4.subtitle { position:absolute; width:100%; padding-right:22px;}
	
	}
	
	@media only screen and (max-width: 479px) {
	
	.latest-works .portfolio-item, .latest-works.col2-w .portfolio .portfolio-item, .latest-works.col3-w .portfolio .portfolio-item, .latest-works.col4-w .portfolio .portfolio-item, .latest-works.col5-w .portfolio .portfolio-item, .latest-works.col6-w .portfolio .portfolio-item { width:100%; }
	nav.primary .portfolioFilters a { border-radius:2px; margin-bottom:10px; margin-right:5px; padding:4px 8px; font-size:13px; font-weight:400; display:block; float:left;}
	.portfolio-item.jcarousel-item.col-md-3 { width:300px;}
	
	}
	
	 @media only screen and (min-width: 1200px) {
			
	#latest-projects .portfolio-item.jcarousel-item.col-md-3 { width:260px;}
	
	}
		
/* -------- end ----------- */