/*
 Theme Name:     H&H Architectural Child Theme
 Theme URI:      http://webnus.biz/themes/brazil-wp/
 Description:    H&H Architectural Theme
 Author:         Cooshtee
 Author URI:     http://cooshtee.com
 Template:       brazil-wp
 Version:        1.0.0
*/

@import url("../brazil-wp/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

/* HEADER */
#header{background-color:#505050;}
#nav a{color:#fff; text-transform:uppercase;}
.header-bg{width:100%; height:60px;}
.home .header-bg{position:absolute; z-index:999;}

/* FOOTER */

#footer{border:none;}
footer .widget,
footer .widget a,
#footer .widget ul li a,
.footer-in p{color:#ffffff;}
#footer .widget ul li{padding:0 0 20px 0; margin-bottom:20px; border-bottom:1px solid #656565;}
.widget ul li a{padding:0; font-weight:bold;}
.footerBG{background-image:url(img/footer-bg.png); background-repeat:no-repeat; background-size:100% auto; background-position:bottom; padding-bottom:40px;}
.footer-in h5.subtitle{color:#fff; border-bottom:1px solid #e07603; box-shadow:none; text-shadow:none;}
footer .social{float:left; margin-right:10px;}
.footer-navi,
.footer-navi a{color:#c3c3c3; font-size:13px;}

/* Generic */
h2{font-weight:bold; font-size:18px; text-transform:uppercase; font-size:18px;}
#main-content p{font-size:16px;}
a, a:visited{color:#e07603;}
#main-content.container{padding:35px 0;}
#headline{border-top:none;}
.testimonial-content q{font-style:italic;}
.testimonial-brand img{display:none;}
.orange{color:#e07603;}
.wpb_single_image img{width:100%;}
.wpb_text_column li{margin-left:25px;}

/* Homepage */
.home #main-content{margin-bottom:0; padding-bottom:0;}
.home #wrap .wpb_row.full-row, .home #wrap.boxed-wrap .wpb_row.full-row{margin-top:0;}
.home h2{text-align:center;}
.home #main-content.container{padding-top:0;}
.home .wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button{margin-bottom:0;}
.tp-caption.large_bold_white span.thin,
.tp-caption.large_bold_black span.thin{font-weight:300;}
.tp-caption.large_bold_white span.regular,
.tp-caption.large_bold_black span.regular{font-weight:600;}
.tp-caption.large_bold_white span.bold,
.tp-caption.large_bold_black span.bold{font-weight:900;}
.rev_slider .button{border:2px solid #fff; padding:20px 30px; text-transform:uppercase; font-size:18px; color:#fff; background-color:transparent;}
.rev_slider .button.grey{border:2px solid #505050; color:#505050;}
.tp-bullets.simplebullets.round .bullet{background-image:none; background-color:white; border-radius:20px; width:14px; height:14px; margin:0 5px; border:3px solid white;}
.tp-bullets.simplebullets.round .bullet.selected{background-color:transparent;}

.home .wpb_wrapper p, .home .wpb_wrapper p strong{font-size:18px;}
.icon-box7 i{background-color:#f2f2f2; padding:20px; border-radius:999px;}
.icon-box7 h4, .icon-box7 h4 strong{text-transform:uppercase; font-size:17px; padding:0; color:#e07603; font-weight:bold; letter-spacing:0;}
.icon-box7 p{min-height:110px; margin-bottom:0;}

.testimonials-slider-w .testimonial-content h4 q,
blockquote, blockquote p, q{font-family:'Open Sans','open-sanslight',Trebuchet MS,Helvetica,Arial,sans-serif; font-weight:300; font-style:italic; font-size:26px;}
.testimonials-slider-w .testimonial-content h4 q:before, .testimonials-slider-w .testimonial-content h4 q:after{color:#e07603;}

/* submenus */
.widget_nav_menu{margin-bottom:40px;}
.widget_nav_menu h2{margin-top:0;}
.widget_nav_menu .current-menu-item a{color:#e07603;}

/* Portfolio */
.page-id-12 .latest-works{padding:40px 0;}
.latest-works .vertical-space1, .latest-works .vertical-space2, .latest-works .icon-top-title{display:none;}
.portfolio-item-dets{height:96px; border:none; font-size:15px;}
.portfolio-item-detail-box{border:none; color:#505050; font-weight:bold;}
.portfolio-item-detail-box .orange{width:103px; display:inline-block; font-weight:normal;}
.single-portfolio .rev_slider_wrapper{margin-bottom:20px !important;}
.related-works h4.subtitle{font-size:18px;}
.related-works h4.subtitle:after{border:none;}
.jcarousel-next:hover, .jcarousel-prev:hover{color:#e07603;}
.cta{text-align:left; width:100%; padding:50px 0 30px 0; margin-top:50px; border-top:1px solid #f2f2f2;}
.cta span{font-size:36px; font-weight:300;}
.cta a{clear:both; margin-top:20px; display:inline-block;}
.zoomex2 a.zoomlink1:hover i, .zoomex2 a.zoomlink2:hover i{color:#e07603}

/* Blog */
.blog-post h4, .blog-post h1, .blog-post h3, .blog-line h4,
.blog-single-post h1{font-family:'Open Sans','open-sanslight',Trebuchet MS,Helvetica,Arial,sans-serif; font-weight:300;}
.blog-single-post h1{margin:30px 0;}
.blog-post a, .blog-line a, .post-tags a, .commentlist li a:link, .commentlist li a:visited{color:#e07603;}
.blog-post a:hover, .blog-line a:hover{color:#e07603; text-decoration:underline;}
.sidebar{padding-top:0;}
.sidebar h4.subtitle{margin-top:0;}
.sidebar .widget{margin-bottom:60px; clear:both;}

/* Contact Page */
.page-id-37 div.wpcf7{padding-right:30px;}
.page-id-37 div.wpcf7 .button, button, a.price-send, input[type="submit"], input[type="reset"], input[type="button"], .button.green, button.green, input.green[type="submit"], input.green[type="reset"], input.green[type="button"]{background-color:#e07603;}

/* All Mobile Sizes (devices and browser) */
	@media only screen and (min-width: 480px) and (max-width: 960px) {
		.logo{max-width:230px; min-height:0; margin-top:5px;}
	}
	@media only screen and (max-width: 767px) { 
		#nav a{color:#505050;}
	}